<div class="cta-banner">
  <p class="announcement-text">The 2020 Ember Community Survey is now live— <a href="#">take the survey today</a>!!</p>
  <button type="button" aria-label="dismiss this message" class="toggle-close hide-on-mobile">
    <span aria-hidden="true">x</span>
  </button>
</div>