<div class="container layout">

  <div class="emberconf-announcement lg:col-4 lg:start-2">

    <div class="logo">
      <a href="//emberconf.com/" aria-label="Virtual EmberConf 2020">
        <img src="/images/brand/virtual-emberconf-2020-logo.svg">
      </a>
    </div>

    <div class="text">
      <h2>March 17 &amp; 18</h2>
      <p>EmberConf is back for another year of talks, training and fun — and this time it's <strike>personal</strike> <b>virtual</b>!</p>
      <h3><a href="//emberconf.com">Watch live at EmberConf.com </a></h3>
    </div>

  </div>

</div>
