<div class="ecosystem-icons">
  <EcosystemIcon @icon="babel" @bg="#323330"/>
  <EcosystemIcon @icon="js" @bg="#FAE125" @rotate={{true}} />
  <EcosystemIcon @icon="prettier" @bg="#FFFFFF" />
  <EcosystemIcon @icon="code" @bg="#272827" @rotate={{true}} />
  <EcosystemIcon @icon="ts" @bg="#0075C7" @rotate={{true}} />
  <EcosystemIcon @icon="npm" @bg="#c12127" @rotate={{true}}/>
</div>