{{#if config.route}}
  <div class="survey-reminder-wrapper">
    <div class="survey-reminder-container">
      {{#if (eq router.currentRouteName config.route)}}
        You have {{this.daysLeftText}} left to submit your response!
      {{else}}
        Take the {{#link-to config.route}}{{this.config.title}}{{/link-to}}
      {{/if}}
    </div>
  </div>
{{/if}}