{{#if config.link}}
  <div class="survey-reminder-wrapper">
    <div class="survey-reminder-container">
      Take the <a href={{config.link}} target="_blank" rel="noopener">{{config.title}}</a>
    </div>
  </div>
{{/if}}