<div class="homepage-image-grid" ...attributes>
  <div class="homepage-image-grid__scroll-wrapper">
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-13.jpg" alt="Ember core team members behind an Ember sign at EmberConf">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-112.jpg" alt="Community Members at Ember Conf">
    </figure>
    <figure class="homepage-image-grid__img-tall-bottom">
      <img class="homepage-image-grid__img" src="/images/community/zoey.png" alt="Zoey Mascot">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-110.jpg" alt="Tome Dale and Yehuda Katz on stage">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-243.jpg" alt="Isaac Ezer speaking at a Conference">
    </figure>
    <figure class="homepage-image-grid__img-tall-top">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-223.jpg" alt="Kenigbolo Meya Stephen smiling at camera while speaking at a conference">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-125.jpg" alt="Large group of people on stage at Ember Conf">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/EmberConf19-238.jpg" alt="Dianne Eramo speaking at a conference">
    </figure>
  </div>
</div>