<div class="homepage-image-grid" ...attributes>
  <div class="homepage-image-grid__scroll-wrapper">
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-13.jpg" alt="Ember core team members gather around the Ember logo sign at EmberConf" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-112.jpg" alt="Community Members at Ember Conf" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-tall-bottom">
      <img class="homepage-image-grid__img" src="/images/community/zoey.png" alt="Zoey Mascot" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-110.jpg" alt="Tom Dale and Yehuda Katz, the co-creators of Ember, speak to the crowd at EmberConf" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-243.jpg" alt="Isaac Ezer, looks confident and happy as he presents a talk at EmberConf" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-tall-top">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-223.jpg" alt="Kenigbolo Meya Stephen smiling at the crowd, leans confidently on the podium while speaking at Emberconf" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-125.jpg" alt="The LinkedIn team gathers around the Ember logo sign for a group photo on the EmberConf stage" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-238.jpg" alt="Dianne Eramo presents like a pro as she confidently speaks at EmberConf" role="presentation" loading="lazy">
    </figure>
  </div>
</div>
