<article class="project-showcase__item">
  <div class="project-showcase__item--thumbnail">
    <img src="{{project.thumbnail.src}}" alt="{{project.thumbnail.alt}}">
  </div>
  <div class="project-showcase__item--info">
    <h3>{{#link-to "community.projects.project" project}}{{project.title}}{{/link-to}}</h3>
  </div>
</article>
