<div class="standard-row">
  <div class="terminal-code">
    <div class="dot red"></div>
    <div class="dot yellow"></div>
    <div class="dot green"></div>
    <code>
      {{yield}}
    </code>
  </div>
</div>