<div class="standard-row">
  <div class="terminal-code">
    <span class="dot red"></span>
    <span class="dot yellow"></span>
    <span class="dot green"></span>
    <code>
      {{yield}}
    </code>
  </div>
</div>