<h1>The Octane Edition of Ember</h1>
<p class="intro">
The <strong>preview</strong> of Ember Octane has begun. This means that everything here is experimental and subject to change. Keep that in mind while you peruse this information! 
</p>
<ul class="decorative-boxes">
  <li><a href="https://emberjs.github.io/rfcs/0364-roadmap-2018.html">Read The Roadmap RFC</a></li>
  <li><a href="https://deploy-preview-455--ember-guides.netlify.com/release/upgrading/editions/">Read the Upgrade Guide</a></li>
  <li><a href="https://guides.emberjs.com/release/reference/syntax-conversion-guide/">Read The Syntax Conversion Guide</a></li>
</ul>

<h2>How you can help</h2>
<p>During this preview phase, we are asking the community to help us in any way they can. Try Octane out in your app. Report bugs back to us. Let us know where your pain points are. Read the guides and see if they make sense to you. It genuinely takes all parts of our community working together to make this a polished, complete project- and no contribution is too small!</p>

<p><strong>We will be able to declare a stable Octane edition faster with the community's help!</strong></p>
<p>As in all areas of Ember, there are different ways you can contribute. Visit the #st-octane channel on the Ember Discord server to get started today.</p>
<ul class="decorative-boxes">
  <li><a href="https://github.com/emberjs/ember.js/issues/17234">Implement Features</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/394">Write Guides</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/588">Review & Edit Guides</a></li>
</ul>

<h2>Frequently Asked Questions</h2>
<details>
  <summary>What Happened to Module Unification?</summary>
  Ember's conventions for project layout and file naming are central to the developer experience. It's crucial that we get both the technical and ergonomic details right. I wanted to provide an update about Module Unification and our plans for the file structure in Ember Octane.
  <br/> In short, we do not plan to ship Module Unification in Octane. 
  <br/>Read the full statement about Module Unification on our blog.
</details>
<details>
  <summary>I'm starting a new app at work. Should I use Octane?</summary>
  Since Octane is in preview mode, there are bound to be rough edges, and upcoming changes. Since we don't know what we don't know just yet, we advise that Octane is used for experimentation only. We recommend stable versions of Ember for new production applications. 
</details>