<h1>The Octane Edition of Ember</h1>
<p class="intro">
The <strong>preview</strong> of Ember Octane has begun. This means that everything here is experimental and subject to change. Keep that in mind while you peruse this information! 
</p>
<ul>
  <li><a href="https://emberjs.github.io/rfcs/0364-roadmap-2018.html">The 2018 Roadmap RFC</a></li>
  <li><a href="https://deploy-preview-455--ember-guides.netlify.com/release/upgrading/editions/">Understanding Editions</a></li>
  <li><a href="https://guides.emberjs.com/release/reference/syntax-conversion-guide/">A Syntax Conversion Guide</a></li>
</ul>

<h2>How you can help</h2>
<p>During this preview phase, we are asking the community to help us in any way they can. Try Octane out in your app. Report bugs back to us. Let us know where your pain points are. Read the guides and see if they make sense to you. It genuinely takes all parts of our community working together to make this a polished, complete project- and no contribution is too small!</p>

<h3>Contributing</h3>
<ul class="es-list">
  <li><a href="https://github.com/emberjs/ember.js/issues/17234">The Octane Meta Quest Issue</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/394">The Octane Guides Quest Issue</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/588">Quest Issue- Reading and Editing the Octane Guides</a></li>
</ul>

<h2>Frequently Asked Questions</h2>
<details>
  <summary>What Happened to Module Unification?</summary>
  Read the full statement about Module Unification on our blog- <a href="https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html">https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html</a> 
</details>
<details>
  <summary>I'm starting a new app at work. Should I use Octane?</summary>
  Since Octane is in preview mode, there are bound to be rough edges, and upcoming changes. Since we don't know what we don't know just yet, we advise that Octane is used for experimentation only. We recommend stable versions of Ember for new production applications. 
</details>