<h1>The Octane Edition of Ember</h1>
<p class="intro">
The <strong>preview</strong> of Ember Octane has begun. This means that everything here is experimental and subject to change. Keep that in mind while you peruse this information! 
</p>
<ul class="decorative-boxes">
  <li><a href="https://emberjs.github.io/rfcs/0364-roadmap-2018.html">Read The Roadmap RFC</a></li>
  <li><a href="https://deploy-preview-455--ember-guides.netlify.com/release/upgrading/editions/">Read the Upgrade Guide</a></li>
  <li><a href="https://guides.emberjs.com/release/reference/syntax-conversion-guide/">Read The Syntax Conversion Guide</a></li>
</ul>

<h2>How you can help</h2>
<p>During this preview phase, we are asking the community to help us in any way they can. Try Octane out in your app. Report bugs back to us. Let us know where your pain points are. Read the guides and see if they make sense to you. It genuinely takes all parts of our community working together to make this a polished, complete project- and no contribution is too small!</p>

<p><strong>We will be able to declare a stable Octane edition faster with the community's help!</strong></p>
<p>As in all areas of Ember, there are different ways you can contribute. Visit the #st-octane channel on the Ember Discord server to get started today.</p>
<ul class="decorative-boxes">
  <li><a href="https://github.com/emberjs/ember.js/issues/17234">Implement Features</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/394">Write Guides</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/588">Review & Edit Guides</a></li>
</ul>

<h2>Frequently Asked Questions</h2>
<dl>
  <dt>What Happened to Module Unification?</dt>
  <dd>
    Read the full statement about Module Unification on our blog- <a href="https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html">https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html</a> 
  </dd>
  <dt>I'm starting a new app at work. Should I use Octane?</dt>
  <dd>
    Octane is in <em>preview</em> mode- there are bound to be rough edges, and upcoming changes. Since we don't know <i>what</i> we don't know just yet, we advise that Octane be used for experimentation only. We recommend that you continue to use stable versions of Ember for new production applications. 
  </dd>
</dl>
