{{title "Editions"}}
{{title "Octane"}}

<h1>The Octane Edition of Ember</h1>
<p class="intro">
  The <strong>preview</strong> of Ember Octane has begun! Octane's features are now available in a stable release of Ember, v3.13.
  In the next phase, before the official launch at 3.14, we need your help polishing up the work-in-progress learning resources linked below and tools like Ember Inspector or codemods.
  You can read more about the plan and timeline in 
  <a href="https://blog.emberjs.com/2019/08/15/octane-release-plan.html">the Octane release plan blog post.</a>
</p>
<p>
  Ember Octane describes a set of new features that, when taken together, represent a foundational improvement to the way you use Ember.
  It has modern, streamlined components and state management that make it fun to build web applications.
  With seamless interoperability for existing apps, teams can migrate at their own pace, while developers building new apps start out with the best that Ember has to offer.
</p>
<ul class="decorative-boxes">
  <li><a href="https://octane-guides-preview.emberjs.com/release/getting-started/quick-start/">Try the new app Quick Start</a></li>
  <li><a href="https://octane-guides-preview.emberjs.com/release/tutorial/00-part-1/">Follow the Tutorial</a></li>
  <li><a href="https://octane-guides-preview.emberjs.com/release/">Read the Guides</a></li>
  <li><a href="https://blog.emberjs.com/2019/08/15/octane-release-plan.html">Learn how to prepare</a></li>
  <li><a href="https://emberjs.github.io/rfcs/0364-roadmap-2018.html">Read The Roadmap RFC</a></li>
</ul>

<h2>How you can help</h2>
<p>During this preview phase, we are asking the community to help us in any way they can. Try Octane out in your app. Report bugs back to us. Let us know where your pain points are. Read the guides and see if they make sense to you. It genuinely takes all parts of our community working together to make this a polished, complete project- and no contribution is too small!</p>

<p><strong>We will be able to declare a stable Octane edition faster with the community's help!</strong></p>
<p>As in all areas of Ember, there are different ways you can contribute. Visit the #st-octane channel on the Ember Discord server to get started today.</p>
<ul class="decorative-boxes">
  <li><a href="https://github.com/emberjs/ember.js/issues/17234">Implement Features</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/394">Write Guides</a></li>
  <li><a href="https://github.com/ember-learn/guides-source/issues/588">Review & Edit Guides</a></li>
</ul>

<h2>Frequently Asked Questions</h2>
<dl class="dl-faq">
  <dt>When will Octane be ready?</dt>
  <dd>
    Octane will be available in v3.14 of Ember.
    As a minor release, all features are opt-in and non-breaking for existing apps.
    For details, read the <a href="https://blog.emberjs.com/2019/08/15/octane-release-plan.html">Octane release plan</a>.
  </dd>
  <dt>I'm starting a new app at work. Should I use Octane?</dt>
  <dd>
    Octane is in <em>preview</em> mode- there are bound to be rough edges in popular addons and tools. We advise that Octane style only be used in v3.13 apps by developers who are committed to helping iron out any issues. Developers are encouraged to update their apps to the latest version of Ember in the same way they always would. v3.13 has the stability guarantees that minor releases always have, and is production-ready. Octane's opt-in features will get more ecosystem support and documentation built up in the meantime.
  </dd>
  <dt>Where can I get help or ask questions?</dt>
  <dd>
    Visit <LinkTo @route="community">the community page</LinkTo> to join the forums or chat!
    Discord has channels specifically for Octane where you can search for other people's questions too.
  </dd>
  <dt>What Happened to Module Unification?</dt>
  <dd>
    Read the full statement about Module Unification on our blog- <a href="https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html">https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html</a> 
  </dd>
</dl>
