{{page-title "Editions"}}
{{page-title "Octane"}}

<section class="container" aria-labelledby="octane-edition">
  <h1 id="octane-edition">The Octane Edition of Ember</h1>
  <p class="intro">
    It has arrived!
    As of version 3.15 of Ember, when you generate a new app, you get everything you need to build your app using Octane.
    You can read more about features and upgrade strategies in the
    <a href="https://blog.emberjs.com/2019/12/20/octane-is-here.html">the official Ember blog post</a>.
  </p>
  <p class="mb-3">
    Ember Octane describes a set of new features that, when taken together, represent a foundational improvement to the way you use Ember.
    It has modern, streamlined components and state management that make it fun to build web applications.
    With seamless interoperability for existing apps, teams can migrate at their own pace, while developers building new apps start out with the best that Ember has to offer.
  </p>
  <ul class="lg:grid-5">
    <li>
      <a
        href="https://blog.emberjs.com/2019/12/20/octane-is-here.html"
        rel="noopener noreferrer"
        target="_blank"
      >
         Read the announcement
      </a>
    </li>
    <li>
      <a
        href="https://guides.emberjs.com/release/getting-started/quick-start/"
        rel="noopener noreferrer"
        target="_blank"
      >
        Try the new app Quick Start
      </a>
    </li>
    <li>
      <a
        href="https://guides.emberjs.com/release/tutorial/"
        rel="noopener noreferrer"
        target="_blank"
      >
        Follow the Tutorial
      </a>
    </li>
    <li>
      <a
        href="https://guides.emberjs.com/release/"
        rel="noopener noreferrer"
        target="_blank"
      >
        Read the Guides
      </a>
    </li>
    <li>
      <a
        href="https://guides.emberjs.com/release/upgrading/current-edition"
        rel="noopener noreferrer"
        target="_blank"
      >
        Learn how to upgrade
      </a>
    </li>
  </ul>

  <h2>How you can help</h2>
  <p>
    Now that Octane is available, we ask developers of all experience levels to create their own blog posts, tutorials, and videos.
    Even if you think a topic has already been covered by someone else, it is helpful to put it in your own words.
    For most developers, official documentation is only one piece of the learning journey.
  </p>

  <p>
    If you notice any problems with Octane or the official learning resources, you can open an issue or pull request to the following repositories:
  </p>

  <ul>
    <li>
      <a href="https://github.com/ember-learn/guides-source">
        The Guides
      </a>
    </li>
    <li>
      <a href="https://github.com/ember-learn/super-rentals-tutorial">
        The Tutorial
      </a>
    </li>
    <li>
      <a href="https://github.com/emberjs/ember.js">
        Ember.js source code and API docs
      </a>
    </li>
    <li>
      <a href="https://github.com/ember-learn/ember-octane-vs-classic-cheat-sheet">
        The Octane vs Classic Cheat Sheet
      </a>
    </li>
  </ul>

  <h2>Frequently Asked Questions</h2>
  <dl class="dl-faq">
    <dt>Which release of Ember is Octane?</dt>
    <dd>
      The Octane Edition was declared for Ember 3.15.
    </dd>
    <dt>Do I need to refactor my whole app in order to use Octane features?</dt>
    <dd>
      Good news - you do not need to change your whole app to use Octane's features! All are available for you to opt into, one piece at a time. Some features are even available in earlier versions.
    </dd>
    <dt>If I want to upgrade my app to Octane, do I need to make all the changes by hand?</dt>
    <dd>
      No, codemods and CLI tools are available to help you.
      Visit the <a href="https://guides.emberjs.com/release/upgrading/current-edition">Octane Upgrade Guide</a> to learn more about them.
    </dd>
    <dt>If I'm not ready to use Octane, does that mean I should keep my app on version 3.14?</dt>
    <dd>
      No, you should go ahead and update to version 3.15 or later.
      Octane's big changes are all opt-in, meaning that you can enable them when you are ready, and in the meantime, you can keep updating your app as you normally would.
    </dd>
    <dt>I'm starting a new app at work. Should I use Octane?</dt>
    <dd>
      Yes! Octane is stable and well supported.
      It is the present and future of Ember, so you are saving yourself some upgrade work down the line.
      Be sure to budget some time for learning and experimentation.
    </dd>
    <dt>Where can I get help or ask questions?</dt>
    <dd>
      Visit <LinkTo @route="community">the community page</LinkTo> to join the forums or chat!
      Discord has channels specifically for Octane where you can search for other people's questions too. Read the "welcome" and "setup profile" channels to learn how to get posting permissions.
    </dd>
    <dt>What Happened to Module Unification?</dt>
    <dd>
      Octane ships with "co-location," where the templates and JavaScript files for components are in the same directory.
      This was one of the most popular aspects of Module Unification, and it's available now!
      Read the full statement on our blog- <a href="https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html">Update on Module Unification</a>
    </dd>
  </dl>
</section>