<h1>The Octane Edition of Ember</h1>
<p class="intro">
An introduction paragraph. 
</p>
<ul>
  <li><a href="https://emberjs.github.io/rfcs/0364-roadmap-2018.html">The 2018 Roadmap RFC</a></li>
  <li><a href="https://deploy-preview-455--ember-guides.netlify.com/release/upgrading/editions/">Understanding Editions</a></li>
  <li><a href="https://guides.emberjs.com/release/reference/syntax-conversion-guide/">A Syntax Conversion Guide</a></li>
</ul>

<h2>How you can help</h2>
<p>During the preview phase, we are asking the community to help us in any way they can. Try Octane out in your app. Report bugs back to us. Let us know where your pain points are. Read the guides and see if they make sense to you. It genuinely takes all parts of our community working together to make this a polished, complete project- and no contribution is too small!</p>

<h3>Contributing</h3>
<ul class="es-list">
  <li><a href="">The Octane Meta Quest Issue</a></li>
  <li><a href="">The Octane Guides Quest Issue</a></li>
  <li><a href="">Call for contributors- reviewing the guides</a></li>
</ul>