body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;

  > section {
    margin: 4rem 0;
  }

  &.container {
    padding: 3em 10px;
    max-width: 1200px !important;
    width: 100%;
  }
}

.columns {
  display: flex;
  flex-direction: row;
}

.flex-start {
  align-items: flex-start;
}
