//breakpoints (1 of 3)
$screen-sm-max: 991px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$small-max-width: 767px;
//colors (2 of 3)
$primary: #E34C32;
$primary-light: lighten($primary, 30%);
$primary-dark: #EF4326;
$secondary: #4A4A4A;
$secondary-light: #969696;
$secondary-dark: #303030;
$blue: #1e719b;
$black: #212121; //never pure black
$white: #fdfdfd; //never pure white
$success: green; //come back to these state colors and put proper colors in here
$info: cornflowerblue;
$warning: goldenrod;
$danger: red;
$orange: #e04e39;
$orange-darker: darken($orange, 10);
$orange-darkest: darken($orange, 20);
$orange-lighter: lighten($orange, 10);
$orange-lightest: lighten($orange, 40);
$gray: #4d4d4d;
$gray-lighter: #999999;
$gray-lightest: #eeeeee;
$gray-darker: darken($gray, 10%);
$gray-darkest: darken($gray, 15%);
//font things (3 of 3)
$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;
$font-size: 18px;
$line-height: 1.2;
//it's formatting on save and I need to figure out why bc I already told it not to do that.
