@import "components/addon-tabs.css";
@import "components/brand-logos.css";
@import "components/ecosystem-icons.css";
@import "components/cta-emberconf.css";
@import "components/ember-survey.css";
@import "components/faqs.css";
@import "components/homepage-image-grid.css";
@import "components/lts-table.css";
@import "components/release-timeline.css";
@import "components/survey-section.css";
@import "components/surveys.css";
@import "components/team-list.css";
@import "components/terminal-code.css";
@import "components/invasion-of-ukraine-banner.css";
@import "legacy/form.css";

@media only percy {
  .hide-in-percy {
    visibility: hidden;
  }
}

.leaflet-container {
  height: 400px;
  z-index: 0;
}

.align-middle {
  vertical-align: middle;
}

h1 + *,
.text-xl + * {
  margin-top: var(--spacing-3);
}

* + .text-xl {
  margin-top: var(--spacing-6);
}

* + .text-lg,
* + h2 {
  margin-top: var(--spacing-5);
}

* + .text-md,
* + h3 {
  margin-top: var(--spacing-3);
}

.mt-4 {
  margin-top: var(--spacing-4);
}

/**
  temporary hack to get this styled in the proper place
  while we discuss UX, etc
 */
#language-switcher {
  position: absolute;
  right: 0.5rem;
  margin-top: -1rem;
}

#language-switcher .es-button-secondary {
  padding: calc(var(--spacing-1) * 0.5) var(--spacing-1);
  font-size: var(--font-size-sm);
}

.popover-content {
  min-width: 200px;
  padding: var(--spacing-2);
  background: white;
  display: grid;
  gap: var(--spacing-1);
}

.popover-content .language-links {
  border-top: 1px solid;
  font-size: var(--font-size-sm);
}
