@import "components/addon-tabs.css";
@import "components/brand-logos.css";
@import "components/ecosystem-icons.css";
@import "components/cta-emberconf.css";
@import "components/faqs.css";
@import "components/homepage-image-grid.css";
@import "components/homepage-hero-callout.css";
@import "components/lts-table.css";
@import "components/release-timeline.css";
@import "components/survey-section.css";
@import "components/surveys.css";
@import "components/team-list.css";
@import "components/terminal-code.css";
@import "components/callout-banner.css";
@import "legacy/form.css";

@media only percy {
  .hide-in-percy {
    visibility: hidden;
  }
}

.leaflet-container {
  height: 400px;
  z-index: 0;
}

.align-middle {
  vertical-align: middle;
}

h1 + *,
.text-xl + * {
  margin-top: var(--spacing-3);
}

* + .text-xl {
  margin-top: var(--spacing-6);
}

* + .text-lg,
* + h2 {
  margin-top: var(--spacing-5);
}

* + .text-md,
* + h3 {
  margin-top: var(--spacing-3);
}

.mt-4 {
  margin-top: var(--spacing-4);
}

button:not([disabled]) {
  cursor: pointer;
}
