<div class={{if @hasDarkBackground "bg-light-muted"}}>
  <div class="container">
    <div class="mb-3">
      <a
        class="text-lg mono"
        data-test-link="Closing Thoughts"
        href="#closing-thoughts"
        id="closing-thoughts"
      >
        Closing Thoughts
      </a>
    </div>

    <p data-test-section="Conclusion">
      {{yield}}
    </p>
  </div>
</div>