<div class="bg-dark bg-shape-boxes">
  <div class="container">
    <h1>
      <img
        alt={{@surveyLogoAlt}}
        class="survey-logo"
        data-test-image="Survey Logo"
        src={{@surveyLogoSrc}}
      >
    </h1>

    <p
      class="survey-intro"
      data-test-section="Introduction"
    >
      {{yield}}
    </p>
  </div>
</div>