# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/.pnpm-debug.log
/.stylelintcache
/testem.log
.DS_Store
.vscode
jsconfig.json
/.lighthouseci/
/.idea/

# broccoli-debug
/DEBUG/
