<div class='grid lg:grid-2 code-preview'>
  <div class='lg:col-3 code-preview__code'>
    <h4 class="code-preview__title">Code</h4>
  </div>
  <div class='lg:col-3 code-preview__result'>
    <h4 class="code-preview__title">Result</h4>
  </div>
</div>