<div class="container layout">
  <div class="emberconf-announcement lg:col-4 lg:start-2">
    <div class="inner">
      <div class="logo">
        <a
          aria-label="Virtual EmberConf 2022"
          href="https://emberconf.com/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt=""
            role="presentation"
            src="/images/brand/virtual-emberconf-2022-logo.svg"
          >
        </a>
      </div>

      <div class="text">
        <h2>Virtual EmberConf is April 19</h2>
        <p>Join us for a full day of talks, training and fun!</p>

        <h3>
          <a
            data-test-link="EmberConf"
            href="https://emberconf.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            Watch live at EmberConf.com
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
