<div class="homepage-image-grid" ...attributes>
  <div class="homepage-image-grid__scroll-wrapper">
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-13.jpg" alt="Ember core team members gather around the Ember sign at EmberConf" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-112.jpg" alt="" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-tall-bottom">
      <img class="homepage-image-grid__img" src="/images/community/zoey.png" alt="" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-110.jpg" alt="" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-243.jpg" alt="" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-tall-top">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-223.jpg" alt="" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-125.jpg" alt="" role="presentation" loading="lazy">
    </figure>
    <figure class="homepage-image-grid__img-short">
      <img class="homepage-image-grid__img" src="/images/community/tinified/EmberConf19-238.jpg" alt="" role="presentation" loading="lazy">
    </figure>
  </div>
</div>
