{{#if this.show}}
  <div class="survey-reminder-wrapper invasion-of-ukraine-banner">
    <span class="flag">🇺🇦</span>
    <LinkTo @route="community.invasion-of-ukraine">
      Invasion of Ukraine
    </LinkTo>
  </div>
{{/if}}