<div class="terminal-code bg-dark">
  <span class="dot red"></span>
  <span class="dot yellow"></span>
  <span class="dot green"></span>
  <code data-test-terminal-code>
    {{yield}}
  </code>
</div>