<section aria-labelledby="hero-title" class="bg-shape-boxes-bottom bg-dark temp-fullpage">
  <div class="container layout">
    <div class="lg:col-5">
      <h1 class="text-hero-xl" id="hero-title">George Floyd</h1>
      <p class="text-hero-base mb-2">Tony McDade, Yassin Mohamed, Finan H. Berhe, Sean Reed, Steven Demarco Taylor,
        Breonna Taylor, Ariane McCree, Terrance Franklin, Miles Hall, Darius Tarver, William Green, Samuel David
        Mallard, Kwame Jones, Christopher Whitfield, Anthony Hill, De’Von Bailey, Eric Logan, Jamarion
        Robinson, Gregory Hill Jr, JaQuavion Slaton, Ryan Twyman, Brandon Webber, Jimmy Atchison, Willie McCoy,
        Emantic Fitzgerald Bradford Jr, D’ettrick Griffin, Jemel Roberson, DeAndre Ballard, Botham Shem Jean, Robert
        Lawrence White, Anthony Lamar Smith, Ramarley Graham, Manuel Loggins Jr, Trayvon Martin, Wendell Allen,
        Kendrec McDade, Larry Jackson Jr, Jonathan Ferrell, Jordan Baker, Victor White III, Dontre Hamilton, Eric
        Garner, John Crawford III, Michael Brown, Ezell Ford, Dante Parker, Kajieme Powell, Laquan McDonald, Akai
        Gurley, Tamir Rice, Rumain Brisbon, Jerame Reid, Charly Keunang, Tony Robinson, Walter Scott, Freddie Gray,
        Brendon Glenn, Samuel DuBose, Christian Taylor, Jamar Clark, Mario Woods, Quintonio LeGrier, Gregory Gunn,
        Akiel Denkins, Alton Sterling, Philando Castile, Terrence Sterling, Terence Crutcher, Keith Lamont Scott,
        Alfred Olango, Jordan Edwards, Stephon Clark, Danny Ray Thomas, DeJuan Guillory, Patrick Harmon, Jonathan
        Hart, Maurice Granton, Julius Johnson, Jamee Johnson, Michael Dean, and too many more to list here...</p>
      <div class="inner">
        <p>Organizations that could use your financial support include <a href="https://blacklivesmatter.com/">Black
            Lives Matter</a>, <a href="https://www.naacpldf.org">The NAACP Legal Defense and Educational Fund</a>, <a
            href="https://eji.org">The Equal Justice Initiative</a>, <a href="https://www.wetheprotesters.org">We The
            Protesters</a>, and the <a href="https://www.gofundme.com/f/georgefloyd">George Floyd Memorial Fund</a>.
        </p>
      </div>
    </div>
  </div>
</section>