<section class="container layout" aria-labelledby="section-community">
  <h1 id="section-community">Get Involved: Join the Growing Ember.js Community</h1>

  <div class="lg:col-2">
    <img alt="" role="presentation" class="img-content" src="/images/community/sos.png">
  </div>

  <div class="lg:col-4">
    <h2>Stuck? Lost? Get Help from the Community</h2>
    <p>
      <a href="http://discuss.emberjs.com">Ember Discussion Forum</a> &mdash; a great venue for discussing features, architecture and best practices.
    </p>
    <p>
      <a href="https://discord.gg/emberjs">Ember Community Discord</a> &mdash; ask questions and chat with community members in real-time. (Looking for the Ember Community Slack? We recently switched away from Slack to Discord. Read more about why in the respective <a href="https://emberjs.github.io/rfcs/0345-discord.html">Discord RFC</a>).
    </p>
    <p>
      <a href="http://stackoverflow.com/questions/tagged/ember.js">StackOverflow</a> &mdash; used to track questions. Just
      tag your question with <code>ember.js</code> or <a href="http://stackoverflow.com/questions/tagged/ember.js">search for questions with that tag</a>. Please check to see if your question has already been answered before asking a new one.
    </p>
    <p>
      <a href="https://dev.to/t/ember" target="_blank" rel="noopener noreferrer">DEV's Ember Community</a> &mdash; a great place to find interesting articles about best practices, application architecture and new learnings. Post your articles with the tag <code>ember</code>.
    </p>
    <p>
      <a href="https://emberwork.com/">EMBERWORK</a> &mdash; find your next Ember job opportunity on this dedicated platform for Ember jobs, curated by community members.
    </p>
    <p>
      Please note that these resources are not managed or moderated by the Ember Core Team. They are public forums.
    </p>
  </div>
</section>

<section class="bg-light-muted" aria-labelledby="section-latest-news">
  <div class="container layout">
    <div class="lg:col-4">
      <h2 id="section-latest-news">Stay Up to Date with the Latest News</h2>
      <p>
        <a href="https://embertimes.substack.com/">Ember.js Times</a> &mdash; follow the progress of new features in the Ember ecosystem, requests for community input (RFCs), and calls for contributors
      </p>
      <p>
        <a href="http://emberweekly.com/">Ember Weekly</a> &mdash; a curated list of Ember learning resources (podcasts, videos, blog posts, books, and more)
      </p>
      <p>
        <a href="https://emberjs.com/blog/">Official Ember Blog</a> &mdash; big announcements like new Ember.js version release notes or State of the Union information
      </p>
    </div>
  </div>
</section>

<div class="container">
  <section aria-labelledby="section-reporting-bugs">
    <div class="layout">
      <div class="lg:col-2 lg:start-5">
        <img alt="" class="img-content" src="/images/community/bug.png" role="presentation" loading="lazy">
      </div>
      <div class="lg:col-4">
        <h2 id="section-reporting-bugs">Something Fishy? Report it to the Team</h2>
        <p>
          If you've found a bug or issue in Ember.js, please let us know. To file a bug, go to the <a href="https://github.com/emberjs/ember.js/issues">issue tracker</a> and create a new issue. Great bug reports include a clear description of what is not happening and what you expected to happen. Issues that include a failing test or a reduced test case created on <a href="https://ember-twiddle.com">Ember Twiddle</a>, <a href="http://jsfiddle.net/6Evrq/">JSFiddle</a> or <a href="http://emberjs.jsbin.com/">JSBin</a> are much more likely
          to receive attention. See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a> for more information.
        </p>
        <p>
          Please do not report security vulnerabilities on the public GitHub issue tracker. The <a href="https://emberjs.com/security">Ember.js Security Policy</a> details the procedure for disclosing security issues.
        </p>
        <p>
          The source code for this website is also <a href="https://github.com/ember-learn/ember-website">available on GitHub</a>. If you have found a typo or incorrect documentation, please file an issue on the GitHub project page, or
          even better, submit a pull request.
        </p>
        <p>
          Ember is an inclusive community that welcomes (and benefits from!) people of all backgrounds. If you're having a non-code issue, <a href="mailto:ombudsman@emberjs.com?subject=Website Help Link">reach out</a>. We do our very best to be sure every Ember user has pleasant interactions and positive experiences. If we can help make you feel more
          comfortable or help navigate a trying situation, let us know.
        </p>
      </div>
    </div>
  </section>
</div>

<div class="bg-light-muted">
  <div class="container layout">
    <section class="layout" aria-labelledby="section-contribute-to-ember">
      <div class="lg:col-2">
        <img alt="" class="img-content" src="/images/community/give.png" role="presentation" loading="lazy">
      </div>
      <div class="lg:col-4">
        <h2 id="section-contribute-to-ember" class="text-center">In a Giving Mood? Contribute to the Project</h2>
        <p>
          The Ember.js source is hosted on <a href="https://github.com/emberjs/ember.js/">Github</a>. To contribute patches, create a fork of the project on GitHub and submit a pull request. Please be sure to include unit tests and documentation for any new features you add. See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a> for more information.
        </p>
      </div>
    </section>

    <section class="lg:col-3 text-center" aria-labelledby="section-meetups">
      <h2 id="section-meetups">Feeling Lonely? Join a Meetup</h2>
      <img alt="" src="/images/community/meetup.png" role="presentation" loading="lazy">
      <p>
        Joining an Ember.js meetup is a great way to learn more about Ember, meet other developers, find jobs, etc. Any and all things Ember and local.
      </p>
      <LinkTo @route="community.meetups" class="es-button">
        Find a meetup
      </LinkTo>
    </section>

    <section class="lg:col-3 text-center" aria-labelledby="section-mascots">
      <h2 id="section-mascots">Met The Mascots? You'll Love Them!</h2>
      <img alt="" src="/images/community/campster.png" role="presentation" loading="lazy">
      <p>
        Tomster and Zoey have been crafted with love, and are constantly getting makeovers. Events, User Groups, Countries&mdash;sky's the limit!
      </p>
      <LinkTo @route="mascots" class="es-button">
        Meet the Mascots
      </LinkTo>
    </section>
  </div>
</div>

<div class="container">
  <div class="embed-video">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/rY5D38RQoEg?rel=0" frameborder="0" allowfullscreen loading="lazy" title="Ember Community Meetups, 2015"></iframe>
  </div>
</div>
