{{page-title "Invasion Of Ukraine"}}

<section aria-labelledby="hero-title" class="bg-shape-boxes-bottom bg-dark temp-fullpage">
  <div class="container layout">
    <div class="lg:col-5">
      <h1 class="text-hero-xl" id="hero-title">
        What is happening in Ukraine?
      </h1>
      <h3>
        DEAR FRIENDS
      </h3>
      <p class="text-hero-base mb-2">
        These days the world's media focus upon Ukraine.
        We understand that not all people may know what is happening in Ukraine.
        We have collected information to help you better understand what the Ukrainian people are
        now experiencing.
      </p>
      <ul>
        <li class="text-hero-base mb-2">
          On February 24, around 5 a.m., Russia began the full-scale military invasion of Ukraine.
        </li>
        <li class="text-hero-base mb-2">
          Russian troops launched missile strikes against peaceful Ukrainian cities from various directions, including
          the temporarily occupied Donbas and Crimea and the northeastern region.
        </li>
        <li class="text-hero-base mb-2">
          Russia has struck military and strategically critical infrastructure all over the country.
          Borders are violated from the north, east, and the administrative border with Crimea.
          The Ukrainian Armed Forces are retaliating; the enemy has casualties.
        </li>
        <li class="text-hero-base mb-2">
          This is an act of war, an attack on Ukraine's sovereignty and territorial integrity, a gross violation of the
          UN Charter and the fundamental norms and principles of international law.
          Accordingly, Ukraine has activated its right to self-defense under international law.
        </li>
        <li class="text-hero-base mb-2">
          The situation is challenging. Russia's primary goal is to destabilize our state, destroy institutions and
          raise panic in society.
        </li>
        <li class="text-hero-base mb-2">
          The Ukrainian people ask the world to respond as harshly as possible to what is happening. Ukraine calls on
          international partners to immediately apply a new round of meaningful sanctions, against the aggressor.
        </li>
      </ul>

      <p class="text-hero-base mb-2">
        It’s exactly the WAR, not “military operation”, as Putin said.
        Ukraine needs help of foreign governments in the form of intrusion of military contingent
      </p>

      <div class="inner">
        <h2>
          HOW YOU CAN SUPPORT UKRAINE
        </h2>

        <p>
          Follow and share information about the real situation in Ukraine among your friends (<a
          href="https://kyivindependent.com">Kyiv Independent</a>; <a href="https://www.instagram.com/svidomi_eng">Svidomi
          (en)</a>).
        </p>

        <p>
          Join the rallies against the Russian Federation in your city!
          Here you can see the schedule of the rallies <a href="https://www.stopputin.net">Stop Putin</a>
        </p>

        <h3>
          Support Ukrainian Army
        </h3>
        <ul>
          <li class="text-hero-base mb-2">
            <p>
              🇺🇦 The National Bank of Ukraine has opened a <a
              href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi">special
              account to raise funds for the Ukrainian Army</a>.
              Anyone from any country can donate!
            </p>
            <p>
              The account is multi-currency. It is opened for transfers of funds from international partners and donors,
              any person as well as from Ukrainian business and citizens.
            </p>
          </li>
          <li class="text-hero-base mb-2">
            🇺🇦 <a href="https://savelife.in.ua/">SaveLife in UA (Повертайся живим)</a>
            Kyiv-based charity fund that helps the Ukrainian Army since 2014
          </li>
        </ul>

        <h3>
          Charity and Aid to Ukrainians
        </h3>
        <ul>
          <li class="text-hero-base mb-2">
            ⛑ <a href="https://www.facebook.com/hospitallers/">Medical fund Hospitallers (Госпітальєри) </a>
            Volunteering medical organisation
            AID & Medicaments
            Technic
          </li>
          <li class="text-hero-base mb-2">
            ⛑️ <a href="https://redcross.org.ua/en/donate/">Red Cross in Ukraine</a>
            Volunteering medical organisation
            <a href="https://redcross.org.ua/en/donate/">Donation via website</a>
            <a
              href="https://donate.redcrossredcrescent.org/ua/donate/~my-donation?_cv=1&ns_ira_cr_arg=IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyPdfo1VIVJ%2FpZD9AR%2FKX%2F3rHSedNyCLqqggLX9JI3YCxxHcdrK8UkzvUeEB7%2BXvyzotVDFUMj5hliUTfXP8rDSg8d6%2Bu3HLBlW6%2BsOASk4xntWRMY8aRFODAo3qiRdkNZY%3D">Donation
              via iRaiser</a>
          </li>
          <li class="text-hero-base mb-2">
            🇵🇱 <a href="https://www.pah.org.pl/en/donate/?form=ukraine">Humanitarian assistance from Poland</a>
            Humanitarian assistance including food and other forms of support to people who have to leave their homes.
          </li>
          <li class="text-hero-base mb-2">
            🆘 <a
            href="https://vostok-sos.org/en/make-a-donation/?fbclid=IwAR2DNDQiu3CCmK2OwF3Fb4pheq7qtDzzuj_Cnu1RogkxIt5JPaoiKFbmSPA">East-SOS</a>
            Charing organisation since 2014
          </li>
          <li class="text-hero-base mb-2">
            🇨🇦 <a href="https://www.saintjavelin.com/">Saint Javelin</a>
            Project of Canadian journalist 100% from sales goes to fund which working with kids who have lost parents in
            the war
          </li>
        </ul>
      </div>

      <h3>
        World, Ukraine needs your voice and your support, don’t be quiet
        <br>#STANDWITHUKRAINE, #UkraineUnderAttack
      </h3>
    </div>
  </div>
</section>
