{{page-title "Invasion Of Ukraine"}}

<section aria-labelledby="hero-title" class="bg-shape-boxes-bottom bg-dark temp-fullpage">
  <div class="container layout">
    <div class="lg:col-5">
      <h1 class="text-hero-xl" id="hero-title">
        What is happening in Ukraine?
      </h1>
      <h3>
        DEAR FRIENDS
      </h3>
      <p class="text-hero-base mb-2">
        These days the world's media focus upon Ukraine.
        We understand that not all people may know what is happening in Ukraine.
        In this text, we have collected information that will help you better understand what the Ukrainian people are now experiencing.
      </p>
      <ul>
        <li class="text-hero-base mb-2">
          On February 24, around 5 a.m., Russia began the full-scale military invasion of Ukraine.
        </li>
        <li class="text-hero-base mb-2">
          Russian troops launched missile strikes against peaceful Ukrainian cities from various directions, including the temporarily occupied Donbas and Crimea and the northeastern region.
        </li>
        <li class="text-hero-base mb-2">
          Russia has struck military and strategically critical infrastructure all over the country.
          Borders are violated from the north, east, and the administrative border with Crimea.
          The Ukrainian Armed Forces are retaliating; the enemy has casualties.
        </li>
        <li class="text-hero-base mb-2">
          This is an act of war, an attack on Ukraine's sovereignty and territorial integrity, a gross violation of the UN Charter and the fundamental norms and principles of international law.
          Accordingly, Ukraine has activated its right to self-defense under international law.
        </li>
        <li class="text-hero-base mb-2">
          The situation is challenging. Russia's primary goal is to destabilize our state, destroy institutions and raise panic in society.
        </li>
        <li class="text-hero-base mb-2">
          The Ukrainian people ask the world to respond as harshly as possible to what is happening. Ukraine calls on international partners to immediately apply a new round of meaningful sanctions, against the aggressor.
        </li>
      </ul>

      <div class="inner">
        <p>
          The National Bank of Ukraine has opened a <a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi">special account to raise funds for the Ukrainian Army</a>.
          Anyone from any country can donate!
        </p>

        <p>
          The account is multi-currency. It is opened for transfers of funds from international partners and donors, any person as well as from Ukrainian business and citizens.
        </p>
      </div>

      <h3>
        TODAY WE NEED YOUR SUPPORT WORLD, #STANDWITHUKRAINE
      </h3>
    </div>
  </div>
</section>