{{page-title 'Resources'}}
<section class='container' aria-labelledby='community-resources'>
  <h1 id='community-resources'>
    Community Resources
  </h1>

  <p>
    Community members have provided useful projects that may help others learn,
    share ideas, and demonstrate technical possibilities.
  </p>

  <div class='lg:col-4'>
    <h2>Tutorials</h2>
    <p>
      <a href='https://tutorial.glimdown.com'>The Glimmer Tutorial</a>
      is an interactive tutorial for Polaris' new fileformat: gjs. By
      <a href='https://github.com/nullvoxpopuli'>@NullVoxPopuli</a>
    </p>
    <p>
      <a href='https://limber.glimdown.com'>Limber</a>
      is a fast REPL for quickly prototyping out ideas or issue reproductions in
      Ember. By
      <a href='https://github.com/nullvoxpopuli'>@NullVoxPopuli</a>
    </p>
  </div>

  <div class='lg:col-4'>
    <h2>Sample Apps</h2>
    <p>
      <a href='http://discuss.emberjs.com'>Ember Discussion Forum</a>
      &mdash; a great venue for discussing features, architecture and best
      practices.
    </p>
  </div>

  <div class='lg:col-4'>
    <h2>Technical Demos</h2>
    <p>
      <a href='https://github.com/lifeart/demo-ember-vite'>Using Vite with Ember</a>
      &mdash; This is the hard way to use Vite with Ember, but it showcases what
      modern build tooling can achieve, and represents (at a high level) the
      end-goal of the
      <a
        href='https://github.com/embroider-build/embroider/issues'
      >Embroider</a>
      efforts -- where build times are instant -- though under embroider, there
      will be much less boilerplate. By
      <a href='https://github.com/lifeart'>@lifeart</a>
    </p>
  </div>

  <p>
    Disclaimer: these links may contain out of date information, and may or may
    not align with ember's plans, past, present, or future.
  </p>

</section>
