<h2 class="project-name">{{capitalize @channel}} Channel</h2>

<p>{{@channelDescription}}</p>

{{#each @projects as |project|}}
  {{#if project.isEmberBeta}}
    {{yield project}}
  {{/if}}
  <div class="ember-cli-usage">
    {{ember-cli-usage
    project=project
    channel=@channel}}
  </div>
{{/each}}
