.emberconf-announcement {
  $logo-column-width: 20.5rem;
  display: flex;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2rem;
  margin-top: 5rem;

  .logo-and-date {
    display: flex;
    align-items: center;
    flex-basis: $logo-column-width;
    position: relative;
  }

  .emberconf-logo {
    width: 8rem;
    height: auto;
  }

  .emberconf-date {
    margin-left: 1.5rem;

    span {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $orange-darkest;
    }

    h3 {
      margin: 0;
    }

    p {
      line-height: 1.3;
      margin-bottom: .5rem
    }
  }

  .announcement-description {
    $zoey-intrinsic-ratio: calc(494 / 322);
    $zoey-width: 160px;
    flex-basis: calc(100% - #{$logo-column-width});
    padding-left: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: .1rem;
      background-color: $gray-lightest;
      left: 0;
      position: absolute;
    }
    .text {
      flex-basis: calc(100% - #{$zoey-width});
      padding-right: 1rem;
    }
    &::after {
      content: '';
      display: block;
      @include hidpi('/images/home/ember-zoey-sm', 'png');
      background-position: right center;
      background-repeat: no-repeat;
      background-size: contain;
      width: $zoey-width;
      height: calc(#{$zoey-intrinsic-ratio} * #{$zoey-width});
      position: absolute; 
      right: 0;
      margin-top: -1rem;
    }


    p {
      margin-top: 0;
      margin-bottom: 0;
      flex-basis: 100%;
    }
  }
}