.job-board {
  display: none;
  @media screen and (max-width: $screen-sm-max) {
    background-color: #1e719b;
    font-size: 1.2em;
    min-width: 100%;
    text-align: center;
    display: block;
    clear: both;

    a {
      background-image: none;
      color: $white;
      letter-spacing: 1px;
      min-width: 100%;
      display: block;
      padding: 0.4em;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:focus,
      &:hover {
        text-decoration: underline;
      }

      img {
        margin: -0.2em 0 -0.6em 0.5em;
        transform: rotate(10deg);
        max-height: 40px;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }

      .text-yellow {
        color: #feeca6;
      }
    }
  }

  &-banner {
    z-index: 99998;
    position: absolute;
    top: 93px;
    left: 20px;
    width: 125px;
    height: 170px;
    text-decoration: none !important;
    text-indent: -99999px;
    @include hidpi('/images/home/job-board-banner', png);
    background-size: 125px 170px;

    &:hover {
      border-bottom: none;
    }
    @media screen and (max-width: $screen-sm-max) {
      display: none;
    }
  }
}
