@import '../variables';

.terminal-code {
    background-color: $black;
    border-radius: 4px;
    min-height: 50px;
    padding: 15px;
  
    .dot {
      height: 0.8em;
      width: 0.8em;
      border-radius: 50%;
      display: inline-block;
      margin: 3px;
  
      &.red {
        background-color: rgb(238, 90, 90);
      }
  
      &.yellow {
        background-color: rgb(250, 208, 109);
      }
  
      &.green {
        background-color: rgb(116, 173, 111);
      }
    }
  
    code {
      display: block;
      color: $white;
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 1em;
    }
  }