.branding-section {
  margin-bottom: var(--spacing-4);
}

.branding-section h3 {
  margin-bottom: var(--spacing-2);
}

.brand-logos {
  margin-bottom: var(--spacing-3);
  line-height: 0;
}

.brand-logos > li {
  border: 1px solid rgba($black, 0.3);
  background-image: url('/images/brand/brand-bg.png');
  border-radius: 4px;
  padding: 1rem 1.5rem;
}

.brand-logos > li:nth-child(1) {
  background: #212121;
}

.brand-logos > li:nth-child(2) {
  background: #fdfdfd;
}

.brand-logos > li:nth-child(3) {
  background-color: rgba(199, 52, 31, 0.9);
}
