.brand-logos {
  line-height: 0;
}

.brand-logo-container {
  border: 1px solid rgba($black, 0.3);
  background-image: url("/images/brand/brand-bg.png");
  border-radius: 4px;
  padding: 1.4rem 2rem;
}

.brand-logo-container:nth-child(1) {
  background: #212121;
}

.brand-logo-container:nth-child(2) {
  background: #fdfdfd;
}

.brand-logo-container:nth-child(3) {
  background-color: rgba(199, 52, 31, 0.9);
}
