.emberconf-announcement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-gray-400);
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.emberconf-announcement h2 {
  margin-bottom: .3rem;
}

.emberconf-announcement h3 {
  margin-top: .3rem;
}

.emberconf-announcement .logo {
  flex-basis: 100%;
  max-width: 11rem;
  transform: translateX(-7.5%);
  margin-top: -4.5rem;
}

.emberconf-announcement .logo a {
  background: none;
}

.emberconf-announcement .text {
  flex-basis: 100%;
  margin-top: 1rem;
}

@media screen and (min-width:450px) {
  .emberconf-announcement {
    justify-content: space-between;
    padding-top: 3rem;
    margin-top: -3rem;

  }
  .emberconf-announcement .logo {
    flex-basis: 11rem;
    transform: translateY(-10%);
    margin-top: 0;
  }
  .emberconf-announcement .text {
    flex-basis: calc(100% - 13rem);
    margin-top: 0;
  }
}
