.cta-banner {
  align-items: center;
  background-color: var(--color-brand);
  display: flex;
  flex-flow: row wrap;
  height: 47px;
  justify-content: center;
  width: 100%;
}
.announcement-text {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  width: 95%;
}
.announcement-text a {
  background: none;
  color: white;
  text-decoration: underline;
}
.cta-banner .toggle-close {
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--radius);
  font-size: var(--font-size-lg);
  margin: auto;
}
.cta-banner .toggle-close:hover {
  cursor: pointer;
}