.emberconf-announcement {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-gray-400);
  width: 100%;
}

.emberconf-announcement h2 {
  margin-bottom: 0.3rem;
}

.emberconf-announcement h3 {
  margin-top: 0.3rem;
}

.emberconf-announcement .logo {
  width: 9rem;
  transform: translateX(-7.5%);
  margin-top: -4.5rem;
}

.emberconf-announcement .logo a {
  background: none;
}

.emberconf-announcement .text {
  margin-top: 1rem;
}

@media screen and (min-width: 450px) {
  .emberconf-announcement {
    padding-top: 3rem;
    margin-top: -5rem;
  }

  .emberconf-announcement .inner {
    display: flex;
    align-items: center;
  }

  .emberconf-announcement .logo {
    width: 11rem;
    margin-right: 2rem;
    transform: translateY(-10%);
    margin-top: 0;
    flex-shrink: 0;
  }

  .emberconf-announcement .text {
    margin-top: 0;
  }
}
