.homepage-image-grid {
  overflow-x: auto;
}

.homepage-image-grid__scroll-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 15px;
  grid-auto-flow: column;
  height: 445px;
  padding: 0;
  margin: 0 20px;
  min-width: 1400px;
}

.homepage-image-grid figure {
  margin: 0;
}

.homepage-image-grid__img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.homepage-image-grid__img-tall-bottom {
  grid-row-start: 2;
  grid-row-end: 5;
}

.homepage-image-grid__img-tall-top {
  grid-row-start: 1;
  grid-row-end: 4;
}

.homepage-image-grid__img-short {
  grid-row: span 2;
}

.img-content {
  height: max-content;
  width: max-content;
}

[class*=well-] img {
  width: auto;
}

/* IN ht estyleguides */

img {
  max-width: 100%;
  height: auto;
}
