.release-timeline {
  display: flex;
}

.release-timeline .release {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.release-timeline .future-image {
  opacity: 0.35;
}

.path-to-release {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-to-release .steps {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
}
