.survey-logo {
  height: 160px;
}

.survey-sponsor-logo {
  max-width: 320px;
}

.nps-cell {
  font-size: 18px;
  flex: 1;
  padding: 4px;
  margin: 5px;
}

.nps-row {
  width: 100%;
  display: flex;
}

.nps-row .nps-cell:first-child {
  margin-left: 0;
}

.nps-row .nps-cell:last-child {
  margin-right: 0;
}

.nps-cell-header {
  font-weight: 700;
}

.scoring-list .quote {
  font-style: italic;
}

.scoring-list .quote::before {
  content: open-quote;
}

.scoring-list .quote::after {
  content: close-quote;
}
