.survey-section__container:nth-child(2n + 1) {
  /* Definition of .bg-light-muted */
  background-color: var(--color-gray-200);
  color: var(--color-gray-700);
}

.survey-section__title-container {
  align-items: flex-start;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-areas:
    "hyperlink title";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.survey-section__title-container__title {
  grid-area: title;
}

.survey-section__title-container__hyperlink {
  grid-area: hyperlink;
  position: relative;
}

.survey-section__title-container__hyperlink .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
