.terminal-code {
  border-radius: 4px;
  min-height: 50px;
  padding: 15px;
}

.terminal-code .dot {
  border-radius: 50%;
  display: inline-block;
  height: 0.8em;
  margin: 3px;
  width: 0.8em;
}

.terminal-code .dot.red {
  background-color: rgb(238, 90, 90);
}

.terminal-code .dot.yellow {
  background-color: rgb(250, 208, 109);
}

.terminal-code .dot.green {
  background-color: rgb(116, 173, 111);
}

.terminal-code code {
  background-color: var(--color-gray-900);
  color: var(--color-light);
  display: block;
  font-size: 1em;
  padding: 0.5em 0;
  overflow-x: auto;
}
