.tomster-well {
  position: relative;
  height: 0;
  padding: 0 0 100%;
}

.tomster {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80%;
  max-height: 80%;
  transform: translate(-50%, -50%);
}
