.tomster-list .card[full-image] .card__image {
  max-height: 300px;
  min-height: 300px;

  object-fit: contain;

  /* this should already be the case for .card[full-image] */
  margin: 3rem auto;
}

.tomster-list__filter {
  margin: var(--spacing-2) auto;
}

.tomster-list__filter li {
  display: inline-block;
}
