.user-showcase {
  align-content: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: 0;
  width: 100%;

  > li {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    min-width: 0;

    > a {
      background-color: white;
      border-radius: 5px;
      border: 2px solid $orange;
      display: inline-flex;
      height: 105px;
      max-width: 100%;
      padding: 5px;
      width: 210px;

      > img {
        display: block;
        height: auto;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}
