.home {
  background: no-repeat top center #faf4f1;
  background-image: url('/images/background-shades.png');
  background-image: url('/images/background-shades.svg'), none; // See: http://css-tricks.com/svg-fallbacks/
  @media screen and (min-width: 2000px) {
    // Stretch background width when wider than source image
    background-size: 100% auto;
  }

  .about-page {
    &--header {
      margin: 1em auto 0;
      display: block;
      clear: both;
      color: black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.15;
      max-width: 100%;
      text-align: center;

      .bold {
        font-weight: 400;
      }
      @media screen and (max-width: $small-max-width) {
        margin: 0.5 auto;
        font-size: 2em;
      }
    }
  }

  .about__listing-button {
    margin: 1rem 10px;

    @media screen and (max-width: 991px) {
      min-width: 100%;
      margin: 10px auto;
    }

    &-group {
      align-content: center;
      display: flex;
      justify-content: center;
      width: 100%;

      @media screen and (max-width: 991px) {
        flex-flow: row wrap;
      }
    }
  }

  .call-to-action {
    background-color: $white;
    margin: 3em auto;
    width: 450px;
    max-width: 90%;
    text-align: center;

    a {
      background-color: $white;
      border-radius: 3px;
      border: 1px $orange-darker solid;
      color: $orange-darker;
      font-size: 0.9em;
      font-weight: bold;
      height: 48px;
      letter-spacing: 1px;
      padding: 0.5em 1em;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: $orange-darker;
        color: $white;
        cursor: pointer;
        text-decoration: none;

      }
    }

    &__box {
      box-shadow: 0 0 4px 1px #DDDDDD;
    }

    &__top {
      padding: 1em;
      padding-bottom: 2em;

      h1 {
        padding-bottom: 0;
        color: #4d4d4d;
        text-transform: none;
      }

      .cta-copy {
        width: 80%;
        margin: 0 auto;
        font-size: 1.1em;
        line-height: 1.5;
      }
    }

    &__bottom {
      background-color: $orange;
      color: $white;
      font-family: monospace;
      line-height: 0.5;
      margin: 0;
      overflow: hidden;
      padding-left: 1em;
      text-align: left;
    }

    @media screen and (min-width: $screen-md) {
      border-radius: 10px;
      width: 450px;

      &__box {
        border-radius: 10px;
      }

      &__top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        h1 {
          font-size: 2.5em;
          margin-top: 1rem;
          text-align: center;
          // padding-bottom: 0.5rem;
        }
      }

      &__bottom {
        display: inherit;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1em;
        width: 450px;

        p {
          font-size: 1.34em;
          line-height: 1.2;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .users {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 #fff;
    margin: 2rem 0 2rem;
    padding: 0;

    li a {
      display: block;
      margin: 1rem 1.5rem;
    }
  }

  .features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .feature {
      width: 29%;

      @media screen and (max-width: $small-max-width) {
        width: 100%;

        .feature-img {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }

      p {
        margin-top: 1.5em;
      }

      .handlebars {
        @include hidpi('/images/home/ember-handlebars-sm', 'png');
        width: 221px;
        height: 177px;
        margin: 7px auto 0 auto;
      }

      .structure {
        @include hidpi('/images/home/ember-structure-sm', 'png');
        width: 193px;
        height: 184px;
        margin: 0 auto;
      }

      .productivity {
        @include hidpi('/images/home/ember-productivity-sm', 'png');
        width: 221px;
        height: 184px;
        margin: 0 auto;
      }

      @media (
        -webkit-min-device-pixel-ratio: $hidpi-min-pixel-ratio),
        (min-resolution: $hidpi-min-pixel-ratio),
        (min-resolution: $hidpi-min-pixel-ratio) {

          .handlebars {
            background-size: 221px 210px !important;
            margin: 0 auto;
          }

          .structure {
            background-size: 221px 210px !important;
            margin: 0 auto;
          }

          .productivity {
            background-size: 221px 220px !important;
            margin: 0 auto;
          }

      }

    }

  }

  .getting-started {
    @media screen and (max-width:$small-max-width) {
      display: block;
      clear: both;
      margin: 0 auto;
      max-width: 100%;
    }

    h2.sub {
      color: #F23818;
      padding-top: 50px;
      border-top: 1px dotted #E5DBD6;
      font-size: 19px;
    }
  }

  .prose {
    width: 800px;
    max-width: 100%;
  }

  .gears {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .gear {
      margin: 0 2rem 1rem;
    }
  }

  .install-ember-cli {
    border-color: #fa6d55 !important;
    border-width: 2px !important;

    .line-numbers {
      display: none;
    }
  }

  #download .info {
    text-align: center;
  }
}
