.brand-logos {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 0 .5em;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0px;
  }
  @media screen and (min-width: 576px) {
    padding: 0;
  }
}

.brand-logos > li {
  min-height: 110px;
  border: 1px solid rgba($black, .3);
  background-image: url("/images/brand/brand-bg.png");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding: 10px 20px;
  border-radius: 4px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding: 20px 30px;
  }
  @media screen and (min-width: 576px) {
    flex-basis: 25%;
    padding: 20px 60px;
  }

  &:nth-child(1) {
    background: $black;
  }

  &:nth-child(2) {
    background: $white;
  }

  &:nth-child(3) {
    background-color: rgba($orange-darker, .9);
  }
}

.brand-logos ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  li {
    flex-basis: 25%;
  }
}

.brand-logos img {
  max-height: 70px;
  max-width: 100%;
}
.logos .code {
  background-color: #F8E7CF;
    border-radius: 3px;
    font-size: .9em;
    padding: .2em .5em;
    margin: 0 .1em;
    font-family: Menlo,"DejaVu Sans Mono","Bitstream Vera Sans Mono",Courier,monospace;
}

.pantone {
  background-color: $orange;
  color: white;
  font-weight: bolder;
  padding: 1px 4px;
  border-radius: 5px;
}
