#tomster-filter ul li {
    display: inline-block;
}

#tomster-filter ul {
    text-align: center;
    list-style-type: none;
}

.tomster.section.list .tomster-container {
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.tomster.section.list .tomster-image {
    text-align: center;
    height: 438px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tomster.section.list .tomster-image img {
    margin-bottom: -4px;
    max-width: 100%;
    max-height: 100%;
}

.tomster-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
}

@media (min-width: 576px) {
  .tomster-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .tomster-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tomster.section.list .tomster-info {
    display: flex;
    padding: 6px 12px;
}

.tomster.section.list .tomster-info .title {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
}

.tomster.section.list .tomster-info p.not-yet-url {
    margin-top: 0;
    margin-bottom: 0;
}

.tomster.section.list .tomster-info .date {
    text-align: right;
}

.tomster.section.list .tomster-info p {
    min-width: inherit;
}

.mascots {
  main > section {
    display: flex;
    flex-flow: row wrap;
  }

  ol {
    li {
      margin: 15px 0 10px 0;
    }
  }

  hr {
    height: 1px;
    border: none;
    margin: 2em 0;
    background-color: #dfd7d4;
  }

  .left-col {
    flex: 2;
    flex-flow: row wrap;
  }

  .right-col {
    flex: 1;
  }
}
