.meetup-locations-grid {
  display: flex;
  flex-direction: column;
}

.meetup-locations {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;

  > li {
    float: left;
    margin: 2px 0;
    padding: 0 10px 0 0;
    width: 270px;

    &::before {
      background-image: url("/images/meetups/map-pin.png");
      background-size: 9px auto;
      content: "";
      display: inline-block;
      height: 12px;
      margin-bottom: 2px;
      margin-right: 7px;
      vertical-align: middle;
      width: 9px;
    }
  }
}
