@import "../mixins/hidpi";

.lts-schedule td, .lts-schedule th {
  padding: 10px;
  text-align: center;
  border: 1px solid darkslategray;
}

.sidebar {
  width: 140px;

  &:after {
    width: 140px;
  }
}

.subcontent {
  width: 770px;
}

.float-left-container {
  float: left;
}

@media (-webkit-min-device-pixel-ratio: $hidpi-min-pixel-ratio), (min-resolution: $hidpi-min-pixel-ratio), (min-resolution: $hidpi-min-pixel-ratio) {
  .feature .canary,
  .feature .beta,
  .feature .release,
  .feature .lts {
    background-size: 198px 263px !important;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.tiny-beta-image {
  @include hidpi('/images/releases/tiny_beta', 'png');
  background-size: cover;
  width: 48px;
  height: 64px;
  margin: 0 auto;
  margin-top: 35px;
  margin-right: 20px;
  margin-left: 20px;
}

.small-release-image {
  @include hidpi('/images/releases/small_release', 'png');
  background-size: cover;
  width: 99px;
  height: 132px;
  margin: 0 auto;
}

.release-progress {
  display: table;
  margin: 0 auto;
  padding: 0.8em 0;
}

.beta-version {
  margin-top: 5px;
  text-align: center;
  font-size: smaller;
  color: rgb(138,89,52);
}

.beta-current-version {
  margin-top: -5px;
  color: rgb(178,133,91);
  text-align: center;
  font-size: x-small;
}

.release-version {
  margin-top: 5px;
  text-align: center;
  font-weight: bolder;
}

.release-date {
  margin-top: -2px;
  text-align: center;
  font-size: smaller;
}

.future-image {
  opacity: 0.35;
}

.clear {
  clear: both;
}

.release-cycle-title {
  text-align: center;
  font-weight: bolder;
}

.feature .canary {
  @include hidpi('/images/releases/canary', 'png');
  background-size: cover;
  width: 198px;
  height: 263px;
  margin: 0 auto;
}

.feature .beta {
  @include hidpi('/images/releases/beta', 'png');
  background-size: cover;
  width: 198px;
  height: 263px;
  margin: 0 auto;
}

.feature .release {
  @include hidpi('/images/releases/release', 'png');
  background-size: cover;
  width: 198px;
  height: 263px;
  margin: 0 auto;
}

.feature .lts {
  @include hidpi('/images/releases/lts', 'png');
  background-size: cover;
  width: 198px;
  height: 263px;
  margin: 0 auto;
}

.feature {
  margin-left: 20px;
}

.extra-margin {
  margin-top: 5em;
}

.project-pills {
  margin: 1em 0 3em 0;
  padding: 0;

  li {
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px;
    width: 111px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      background-color: #f6d5cd;
    }

    &.active {
      background-color: #f23818;
      background-image: linear-gradient(0deg, #e7624b, #f67862);
      color: $white;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid transparent;
      }
    }
  }
}

.project-name {
  margin-top: 0;
}

.description {
  border-top: 1px dotted #E5DBD6;
  padding-top: 10px;
}

.table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    th {
      vertical-align: bottom;
    }
  }

  th,
  td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    &:last-child {
      text-align: right;
    }
  }

  th {
    font-weight: bold;
  }

  td {
    vertical-align: middle;
    border-top: 1px solid #dddddd;
  }
}

.tabs {
  ul {
    border-bottom: none;

    li.active {
      border-right: 1px solid #f67862;
    }
  }

  a.active {
    background-color: #f67862;
    // @include background-image(linear-gradient(0deg, #e7624b, #f67862));
    border-right: 1px solid #f67862;
    color: $white;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
}

.loading-spinner {
  text-align: center;
}

hr {
  height: 1px;
  border: none;
  margin: 40px 0;
  background-color: #dfd7d4;
}

.centered {
  text-align: center;
}

.files-table {
  margin-bottom: 4em;

  &:last-child {
    margin-bottom: 0;
  }
}

#download {
  width: 100%;

  #download-ember {
    left: auto;
    margin: 2.5em 0;
  }
}

/*
 * Warning at the top of the build page
 */

  .old-version-warning {
    align-content: center;
    background-color: $orange;
    border-radius: 3px;
    box-sizing: border-box;
    color: $white;
    display: flex;
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0.5em;
    p {
      display: block;
      margin: auto;
      padding-left: 5px;
      width: 80%;
    }
    .btn {
      background-color: lighten($orange, 45%);
      border-radius: 3px;
      color: $orange-darkest;
      display: block;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.4;
      margin: auto;
      padding: 0.5em 0.8em;
      width: 20%;
      &:hover, :focus {
        border-bottom: none;
      }
    }
  }

  .icon-attention-circled:before {
    content: '!';
    font-family: "Arial Black", sans-serif;
    font-style: normal;
    background-color: #FFFBF5;
    color: #dd6a58;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    border-radius: 0.5em;
  }

  /*
   * Channels list on the index page
   */

  .channels {
    margin-top: 5%;
  }

  .channel {
    text-align: left;
    // @include clearfix();
  }

  .channel .tomster {
    float: left;
    margin: 0 20px;
    width: 10%;
    padding: 10px 0;
    &:hover {
      border: 0;
    }
  }

  .channel .description {
    width: 80%;
    padding: 20px 0;
    &.last {
      border-bottom: 1px dotted #E5DBD6;
    }
  }

  .channel .canary {
    background-image: url('/images/releases/canary.png');
    background-size: cover;
    width: 99px;
    height: 131.5px;
    margin: 0 auto;
  }

  .channel .beta {
    background-image: url('/images/releases/beta.png');
    background-size: cover;
    width: 99px;
    height: 131.5px;
    margin: 0 auto;
  }

  .channel .release {
    background-image: url('/images/releases/release.png');
    background-size: cover;
    width: 99px;
    height: 131.5px;
    margin: 0 auto;
  }

  .channel .lts {
    background-image: url('/images/releases/lts.png');
    background-size: cover;
    width: 99px;
    height: 131.5px;
    margin: 0 auto;
  }

.releases #sidebar:after {
  width: 140px
}

#sidebar {
  width: 140px;
  min-width: 140px;
  font-weight: 400;
  float: left;
  min-height: 475px;
  padding-bottom: 120px;
  background: #f4ece9;
  border-left: 1px solid #d4ccc8;
  border-right: 1px solid #d4ccc8;
  position: relative
}

#sidebar #back-to-top {
  padding-left: 13px;
  text-align: center;
  display: none;
  -moz-transition: opacity .05s linear;
  -o-transition: opacity .05s linear;
  -webkit-transition: opacity .05s linear;
  transition: opacity .05s linear
}

@media screen and (max-width: 1200px) {
  #sidebar #back-to-top {
    padding-left: 0;
    height: 20px;
    width: 30px;
    overflow: hidden
  }
}

@media screen and (max-width: 1020px) {
  #sidebar #back-to-top {
    display: none !important
  }
}

#sidebar a {
  display: inline-block;
  text-decoration: none;
  line-height: 1.5em;
  border-bottom: none;
  font-weight: 700;
  cursor: pointer
}

#sidebar a:hover {
  color: #252525
}

#sidebar a.active {
  color: #252525
}

#sidebar ol {
  margin: 0;
  padding: 0;
}

#sidebar ol#toc-list {
  background: #f9e7e4
}

#sidebar ol#toc-list li {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0
}

#sidebar ol#toc-list li p {
  padding-left: 7px
}

#sidebar ol#toc-list li a {
  padding: 0 0 0 1em;
  line-height: 1.2em
}

#sidebar ol#toc-list li>ol {
  display: none;
  margin: 10px 0
}

#sidebar ol#toc-list li>ol.selected {
  display: block
}

#sidebar ol#toc-list li>ol li.sub-selected {
  background-color: #f2d1cb
}

#sidebar ol#toc-list li>ol li.sub-selected>a {
  font-weight: bolder;
  color: #282828
}

#sidebar ol#toc-list li.level-1 {
  text-transform: uppercase
}

#sidebar ol#toc-list li.level-1>a {
  display: block;
  color: #443331;
  border-top: 1px solid #d5ccc8;
  border-bottom: 1px solid #d5ccc8;
  padding: 12px 12px 10px;
  background-color: #f4ece9
}

.block {
  display: block !important;
}

#sidebar ol#toc-list li.level-1>a:hover {
  background-color: #ECE3E0
}

#sidebar ol#toc-list li.level-1+.level-1>a {
  margin-top: -1px
}

#sidebar ol#toc-list li.level-1:last-of-type ol {
  border-bottom: 1px solid #d5ccc8;
  padding-bottom: .5em
}

#sidebar ol#toc-list li.level-2 a, #sidebar ol#toc-list li.level-3 a {
  padding: 6px 1em;
  display: block;
  text-transform: none;
  color: #443331;
}

#sidebar ol#toc-list li.level-2 a:hover, #sidebar ol#toc-list li.level-3 a:hover {
  background-color: #f2d1cb;
  color: #000
}

#sidebar ol#toc-list li.level-2 a:active, #sidebar ol#toc-list li.level-3 a:active {
  color: #5e5e5e
}

#sidebar:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZjRmMSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmY1ZjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 220px;
  height: 120px;
  content: ''
}

#content.has-sidebar, .has-sidebar#subcontent {
  margin-left: 2.1em;
}
