$orange-color: #e34c32;
$orange-dark: darken($orange-color, 10%);
$lightest-of-yellows-color: #fffdf9;
$second-lightest-of-yellows-color: #f8e7cf;
$red-color: #c13c27;
$dull-red-color: #dd6a58;
$brown-orange-color: #ab5d27;
$brown-color: #865931;
$black-color: #212121;
$white-color: #fdfdfd;
$green-color: #579e4a;
$light-green-color: #d4fea8;
$blue-color: #2683ab;
$light-blue-color: #cbebfe;
$dirty-yellow-color: #a28b5b;
$light-yellow-color: #fff8ae;

/* Screen sizes */
// suggest a mobile-first approach, which is more standard in web design.
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$icon-height: 60px;
$right-hand-column-width-percent: 30%;
$side-padding: 1rem;
$side-offset: $side-padding * 6;
$whitespace: 18px;

/* Typography */
$font-family: "Roboto", sans-serif;
$body-scale: 14px;
$body-line-height: $body-scale * 1.5;
$h3-scale: $body-scale * 1.5;
$h3-line-height: $h3-scale * 1.5;
$h2-scale: $h3-scale * 1.5;
$h2-line-height: $h2-scale * 1.2;
$h1-scale: $h2-scale * 1.5;
$h1-line-height: $h1-scale * 1.2;

/* Status colours */
$shipped-color: lighten($green-color, 5%);
$shipped-highlight-color: darken($light-green-color, 5%);
$in-development-color: $blue-color;
$in-development-highlight-color: $light-blue-color;
$under-consideration-color: $dirty-yellow-color;
$under-consideration-highlight-color: $light-yellow-color;


.construction-tomster {
  float: right;
  width: 200px;
  margin-left: 1em;
}

.Features {
  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: $second-lightest-of-yellows-color;
    background: linear-gradient(
      90deg,
      rgba($second-lightest-of-yellows-color, 0) 0%,
      rgba($second-lightest-of-yellows-color, 1) 10%,
      rgba($second-lightest-of-yellows-color, 1) 90%,
      rgba($second-lightest-of-yellows-color, 0) 100%
    );
  }
}

.Feature {
  display: block;
  padding: 1em $side-offset;
  clear: both;

  padding: 1em;

  background: $lightest-of-yellows-color;
  background: linear-gradient(
    90deg,
    rgba($lightest-of-yellows-color, 0) 0%,
    rgba($lightest-of-yellows-color, 1) 10%,
    rgba($lightest-of-yellows-color, 1) 90%,
    rgba($lightest-of-yellows-color, 0) 100%
  );

  &:nth-child(2n) {
    background: transparent;
  }
}

.Feature-Inner {
  margin: 0 auto;
  width: 100%;
}

.Feature-Icon {
  display: block;
  float: left;
  height: $icon-height;
  margin: 2px 1em 0 0;
  width: $icon-height;
}

.Feature-Heading {
  color: $orange-dark;
  line-height: 1;
  text-align: left;
  margin-top: 0;

  h2 {
    margin: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    &.disabled {
      cursor: not-allowed;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.Feature-Expand {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  &.disabled {
    cursor: not-allowed;
  }
  &:hover {
    cursor: pointer;
  }
}

.Feature-Status {
  .status {
    margin: $whitespace 0;
    font-weight: bold;
    line-height: 1.2em;
  }

  .status:before {
    content: '';
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    display: inline-block;
    margin-bottom: -0.1em;
    box-shadow: rgba(0, 0, 0, 0.298039) 1px 3px 8px 0px;
  }
}

// @dry: Figure out how to use a mixin here
.status--shipped {
  color: $shipped-color;
  &:before {
    background: $shipped-highlight-color;
    border-color: $shipped-color;
  }
}

.status--in-development {
  color: $in-development-color;
  &:before {
    background: $in-development-highlight-color;
    border-color: $in-development-color;
  }
}

.status--under-consideration {
  color: $under-consideration-color;
  &:before {
    background: $under-consideration-highlight-color;
    border-color: $under-consideration-color;
  }
}

.Feature-Description {
  // margin: $whitespace 0;
}

.Feature-Description > div {
  p,
  ul {
    margin-top: 0;
  }
}

.Feature-Detail {
  h3 {
    margin: 0 0 ($whitespace / 2);
    font-size: 1em;
    color: $brown-orange-color;
  }
}

.Feature-Availability {
  margin: 0.5em 0;
}

.Feature-Resources {
  ul {
    padding: 0;
    list-style: none;
    margin: 0 !important;
  }
}

.Feature-Champions {
  ul {
    padding: 0;
    margin: 0 !important;
    list-style: none;
  }
}

.Feature-Champion {
  margin-right: 10px;
  margin-bottom: ($whitespace / 2);
  display: block;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    border-radius: 50%;
    margin-right: 7px;
    width: 30px;
  }
}

@media (min-width: $screen-sm-min) {
  .Features {
    clear: both;

    margin: 2em 0em;
    margin-left: -6em;
    margin-right: -5em;
  }

  //suggest that CSS media queries be added to the classes where they already exist instead of in a separate section, to make caring for the CSS a bit easier.
  .Feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 1em 6em;
  }
  // .Feature-Inner {
  //     margin-left: 1em;
  // }
  .Feature-Icon {
    float: none;
    // margin: 0;
  }
  .Feature-HeadContent,
  .Feature-Detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .Feature-Description {
    width: 100%;
  }

  .Feature-DetailContent {
    width: calc(#{100 - $right-hand-column-width-percent} - 60px);
  }
}

.u-hidden {
  display: none;
}

/* Helper Classes */
//suggest all project devs familiarize themselves with the common helper classes to avoid duplication.
.hidden {
  display: none;
}
.shown {
  display: block;
}

// Override website defaults
pre.hljs code {
  background-color: #fdf7ee;
  padding: 0;
  color: $black-color;
}

.column-layout {
  display: flex;

  flex-direction: column;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.column-layout__left {
  padding-right: 1em;
}

.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}

.Feature-HeadContent {
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.Feature-Detail {
  @media (min-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.Features {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: $whitespace;
    color: $black-color;
    border-radius: 6px;
    background: lighten($second-lightest-of-yellows-color, 7%);
  }

  .hljs-comment, .hljs-quote {
    color: #998;
    font-style: italic;
  }

  .hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: $dull-red-color;
    font-weight: bold;
  }

  .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: $green-color;
  }

  .hljs-string, .hljs-doctag {
    color: $blue-color;
  }

  .hljs-title, .hljs-section, .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }

  .hljs-subst {
    font-weight: normal;
  }

  .hljs-type, .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }

  .hljs-tag, .hljs-name, .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }

  .hljs-regexp, .hljs-link {
    color: #009926;
  }

  .hljs-symbol, .hljs-bullet {
    color: #990073;
  }

  .hljs-built_in, .hljs-builtin-name {
    color: $blue-color;
  }

  .hljs-meta {
    color: #999;
    font-weight: bold;
  }

  .hljs-deletion {
    background: #fdd;
  }

  .hljs-addition {
    background: #dfd;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
