.survey {
  > main.container {
    max-width: 100%;
    padding: 0;
  }

  h2 {
    a {
      position: relative;
      color: #252525;
      font-weight: bold;
      line-height: 1.2;
      font-size: 28px;

      &:hover,
      &:active {
        &:after {
          font-family: 'fontello', sans-serif;
          content: '\e802';
          position: absolute;
          top: 0;
          right: 100%;
          padding: 0 0.3em;
          color: #cccccc;
        }
      }
    }
  }

  .cluster {
    padding: 10px 24px 24px;
    margin: 12px 0;
    background-color: #f5f2f0;

    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .quote {
      font-size: 18px;
      font-style: normal;
      color: #252525;
    }
  }

  .nps {
    &-cell {
      font-size: 18px;
      background-color: #f5f2f0;
      flex: 1;
      padding: 4px;
      margin: 5px;

      &-header {
        background-color: $white;
        font-weight: bold;
      }

    }

    &-row {
      width: 100%;
      display: flex;

      .nps-cell:first-child {
        margin-left: 0;
      }

      .nps-cell:last-child {
        margin-right: 0;
      }
    }
  }

  &-logo {
    max-width: 320px;
    margin: 30px auto;
  }

  @media screen and (max-width: 360px) {
    &-logo {
      margin-top: 0px;
    }

    &-wrapper {
      padding: 50px 0;
    }
  }

  &-wrapper {
    padding: 40px 0;
    text-align: center;
    background: $white;

    color: #747474;
    padding-left: 10px;
    padding-right: 10px;

    p {
      line-height: 1.8;
    }

    p.large,
    p.quote {
      line-height: 1.6;
      font-size: 18px;
      max-width: 80%;
      height: 100%;
      margin: 18px auto 1.4em auto;
    }

    .quote {
      font-style: italic;
      font-weight: 500;
      font-size: 20px;

      quotes: "“" "”" "‘" "’";

      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }

    .survey-wrapper-center {
      text-align: center;
    }

    &-header {
      background: #fff;
      background: url('/images/survey/bg.jpg') repeat;
      background-size: cover;
    }
  }

  &-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }

  &-border-top {
    border-top: 1px solid #e5dbd6;
  }

  &-button {
    &:link,
    &:visited {
      margin-top: 20px auto;
    }

    &:hover,
    &:active {
      img {
        margin-left: 10px;
      }
    }
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px 10px;
  }

  &-column.half {
    width: 50%;
  }

  @media screen and (max-width: 760px) {
    &-column.half {
      width: 100%;
    }
  }

  &-credits {
     img {
      width: 500px;
      max-width: 100%;
      margin: -1em auto;
    }
  }

  &-tagline {
    margin: 20px 0 40px;
  }
}
