.list-team {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  width: 100%;

  &-item {
    align-items: center;
    display: flex;
    flex: 1 1 1;
    flex-flow: row wrap;
    flex-grow: 1;
    height: 175px;
    justify-content: center;
    margin: 1.5em 0.75em;
    padding: 0;
    text-align: center;
    width: 150px;

    .team-member {
      &-image {
        align-self: center;
        border-radius: 50%;
        display: flex;
        height: 100px;
        justify-content: center;
        margin: auto;
        width: 100px;
      }

      &-name {
        align-content: center;
        display: flex;
        font-size: 1em;
        font-size: calc( 14px + 3 * ((100vw - 500px) / 1500));
        font-weight: normal;
        justify-content: center;
        line-height: 1;
        min-width: 100%;
      }

      &-social {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 0 auto !important;
        min-width: 100%;
        padding: 0;

        > li {
          display: inline-block;
          padding: 0;

          > a {
            color: $secondary;
            font-size: 24px;
          }
        }
      }
    }
  }
}
