{{#project-listing
    channel="beta"
    channelDescription="Features spend at least six weeks in beta before they can be included in a stable release."
    projects=(array model.ember model.emberData)
    description=description
}}
  
  <h2>What is a beta release?</h2>

  <p>
    A beta release is a preview of what will eventually become the next stable release.
    Included features are subject to change, and bugs are sometimes discovered,
    so beta is not recommended for use in production.
    New features stay in beta for six weeks.
  </p>

  <p>
    Beta is used in many test suites, so that any bugs in the framework code
    are detected quickly and fixed before the stable release.
    Some of Ember's key contributors make a habit of working off beta and canary,
    and even use it in production,
    in order to volunteer their efforts as early testers.
  </p>

{{/project-listing}}


