{{title "LTS"}}

{{#project-listing
  projects=(array model)
  channel="LTS"
  channelDescription="Long Term Support releases receive bugfixes and security updates for an extended period."
}}

  <h2>What is an LTS release?</h2>

  <p>
    LTS versions receive bugfixes for 36 weeks and security updates for 54 weeks.
    An LTS release is the best version to use if you won't be updating your app frequently,
    but want to help your app stay secure and working smoothly.
    Another reason to use an LTS is if you have a very large, complex app,
    since LTS versions get even more testing and scrutiny than usual.
  </p>
  <p>
    An LTS is declared roughly every four minor versions, plus the final version before a
    major release. Before a version can be called an "LTS" release, it has to spend
    at least 6 weeks as a stable release, where it is used and tested by thousands of
    developers.
  </p>

  <h2>LTS schedule</h2>

  <p>
    Ember currently supports these LTS versions.
  </p>

  <table>
    <thead>
      <tr>
        <th>LTS Version</th>
        <th>Released</th>
        <th>Bugfixes until</th>
        <th>Security patches until</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3.16</td>
        <td>Jan 20, 2020</td>
        <td>Sep 2020</td>
        <td>Feb 2021</td>
      </tr>
      <tr>
        <td>3.12</td>
        <td>Aug 5, 2019</td>
        <td>Apr 2020</td>
        <td>Aug 2020</td>
      </tr>
      <tr>
        <td>3.8</td>
        <td>Feb 18, 2019</td>
        <td>Oct 2019</td>
        <td>Mar 2020</td>
      </tr>
    </tbody>
  </table>

  <p>
    These LTS versions are no longer maintained: 3.4 (Jan 2019), 2.18 (Feb 2018), 2.16 (Feb 2018), 2.12 (Apr 2017), 2.8 (Nov 2016), and 2.4 (Apr 2016). Their last minor release dates are shown in parentheses.
  </p>
{{/project-listing}}
