{{#project-listing
  projects=(array model)
  channel="LTS"
  channelDescription="Long Term Support releases receive bugfixes and security updates for an extended period."
}}

  <h2>What is an LTS release?</h2>

  <p>
    LTS versions receive bugfixes for 30 weeks and security updates for 54 weeks.
    An LTS release is the best version to use if you won't be updating your app frequently,
    but want to help your app stay secure and working smoothly.
    Another reason to use an LTS is if you have a very large, complex app,
    since LTS versions get even more testing and scrutiny than usual.
  </p>
  <p>
    An LTS is declared roughly every four minor versions, plus the final version before a
    major release. Before a version can be called an "LTS" release, it has to spend
    at least 6 weeks as a stable release, where it is used and tested by thousands of
    developers.
  </p>

  <h2>LTS support schedule</h2>

  <img
    src="/images/ember-lts.svg"
    alt="LTS Support Schedule as an Image"
    class="lts-release-chart"
    style="width: 100%">

  <table class="lts-schedule table">
    <thead>
      <tr>
        <td>LTS Version</td>
        <td>Released</td>
        <td>Bugfixes until:</td>
        <td>Security patches until:</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          3.8
        </td>
        <td>
          Feb 2019
        </td>
        <td>
          Sep 2019
        </td>
        <td>
          Feb 2020
        </td>
      </tr>
      <tr>
        <td>
          3.4
        </td>
        <td>
          Oct 2018
        </td>
        <td>
          May 2019
        </td>
        <td>
          Oct 2019
        </td>
      </tr>
      <tr>
        <td>
          2.18
        </td>
        <td>
          Feb 2018
        </td>
        <td>
          Sept 2018
        </td>
        <td>
          Feb 2019
        </td>
      </tr>
    </tbody>
  </table>
{{/project-listing}}
