{{page-title "Ember Community Survey 2021"}}

<EmberCommunitySurvey::Introduction
  @surveyLogoAlt="Ember Community Survey 2021"
  @surveyLogoSrc="/images/survey/logo2021.svg"
>
  <p>
    A project to learn who is using Ember and how.
  </p>

  <div class="mt-3">
    <a
      class="es-button"
      href="/"
      rel="noopener noreferrer"
      target="_blank"
      disabled
    >
      Stay Tuned for 2022!
    </a>
  </div>
</EmberCommunitySurvey::Introduction>

<EmberCommunitySurvey::Section
  @sectionId="about-the-survey"
  @sectionTitle="About the Survey"
>
  <:body>
    <div class="layout">
      <div class="lg:col-2">
        <img
          alt="Tomster and Friends"
          class="survey-image"
          src="/images/survey/photo1.jpg"
        >

        <h3>
          Totally Anonymous
        </h3>

        <p>
          No personal identification is attached to survey responses. Last year, over 1000 participants shared information about themselves, their businesses, and applications.
        </p>
      </div>

      <div class="lg:col-2">
        <img
          alt="Emberconf Crowd"
          class="survey-image"
          src="/images/survey/photo2.jpg"
        >

        <h3>
          Please Share
        </h3>

        <p>
          To ensure the survey captures a fair measure of our community, please share this page on your social networks and with your local communities!
        </p>
      </div>

      <div class="lg:col-2">
        <img
          alt="Emberconf during talk"
          class="survey-image"
          src="/images/survey/photo3.jpg"
        >

        <h3>
          Results at EmberConf
        </h3>

        <p>
          At EmberConf, the results to the 2021 survey will be shared with a comparison to the <LinkTo @route="survey.2020">2020 results</LinkTo>. Detailed aggregate and individual responses will also be made public.
        </p>
      </div>
    </div>

    <p class="mt-4 text-sm">
      Photos by <a href="http://www.octolabs.com/" rel="noopener noreferrer" target="_blank">Jeremy Green</a>
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="spread-the-word"
  @sectionTitle="Spread the Word!"
>
  <:body>
    <p>
      Please share this survey on social media and at work.
    </p>

    <div class="my-3">
      <a
        class="twitter-share-button"
        data-hashtags="EmberJS"
        data-show-count="false"
        data-size="large"
        data-text="Do you use @emberjs? It&#39;s time for the 2021 survey!"
        data-url="https://emberjs.com/survey/2021"
        href="https://twitter.com/share?ref_src=twsrc%5Etfw"
      >
        Tweet
      </a>

      {{!-- template-lint-disable "no-forbidden-elements" --}}
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <p>
      Questions? Feedback? Please join us in the <code>#dev-ember-learning</code> channel on the Discord community chat, or email the survey team via <a href="mailto:survey@emberjs.com">survey@emberjs.com</a>.
    </p>
    <p>
      See you at <a href="https://emberconf.com/" rel="noopener noreferrer" target="_blank">EmberConf 2021</a>!
    </p>
  </:body>
</EmberCommunitySurvey::Section>
