<h1>Tomster Commission Request</h1>

<div class="tomster-commission section">
  <div class="left-col">
    <p>Thanks much; we'll get back to you shortly!</p>
    <p>{{#link-to "mascots"}}&larr; Back to the other Tomsters{{/link-to}}</p>
  </div>
</div>
