<section class="container">
  <h1>Tomster Commission Request</h1>

  <p>Thanks much; we'll get back to you shortly!</p>
  <p><LinkTo @route="mascots">&larr; Back to the other Tomsters</LinkTo></p>
</section>
