<section class="container layout">
  <div class="lg:col-4">
    <h1>Tomster and Zoey Commission Payments</h1>

    <div class="left-col">
      <div id="wufoo-q3qhbsp095gijb">
        Fill out my
        <a href="https://tilde.wufoo.com/forms/q3qhbsp095gijb">
          online form
        </a>.
      </div>
      <script type="text/javascript">
        var q3qhbsp095gijb;
        (function(d, t) {
          var s = d.createElement(t),
            options = {
              'userName': 'tilde',
              'formHash': 'q3qhbsp095gijb',
              'autoResize': true,
              'height': '646',
              'async': true,
              'host': 'wufoo.com',
              'header': 'show',
              'ssl': true
            };
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
            var rs = this.readyState;
            if (rs)
              if (rs != 'complete')
                if (rs != 'loaded') return;
            try {
              q3qhbsp095gijb = new WufooForm();
              q3qhbsp095gijb.initialize(options);
              q3qhbsp095gijb.display();
            } catch (e) {}
          };
          var scr = d.getElementsByTagName(t)[0],
            par = scr.parentNode;
          par.insertBefore(s, scr);
        })(document, 'script');
      </script>
    </div>
  </div>

  <div class="lg:col-2 hide-on-mobile">
    <img alt="Tomster FAQ" src="/images/tomster-faq.png" width="95%" role="presentation" loading="lazy">
  </div>

</section>