<section class="container">
  <h1>Tomster and Zoey Commission Payments</h1>

  <p>Thanks much! Looking forward to getting to work :)</p>
  <p>{{#link-to "mascots"}}&larr; Back to the other Tomsters and Zoeys{{/link-to}}</p>
</section>