<section class="container" aria-labelledby="commission-payment-sent">
  <h1 id="commission-payment-sent">Tomster and Zoey Commission Payment Sent</h1>

  <p>Thanks much! Looking forward to getting to work :)</p>

  <p><LinkTo @route="mascots">&larr; Return to Mascots</LinkTo></p>
</section>
