<div class="release {{unless this.isReleased "future-image"}}">
  <img
    alt=""
    class="mt-3"
    role="presentation"
    src="/images/releases/tiny_beta.png"
  >

  <div
    class="text-sm bold mt-1"
    data-test-field="Name"
  >
    beta {{@version}}
  </div>

  <div
    class="text-sm"
    data-test-field="Description"
  >
    {{#if this.isCurrentBeta}}
      current
    {{else if this.isNextBeta}}
      {{format-date-time @emberBetaProject.nextDate}}
    {{/if}}
  </div>
</div>