<div class="tiny-beta-image"></div>
<div class="beta-version">beta {{@version}}</div>
{{#if isCurrentBeta}}
  <div class="beta-current-version">(current beta)</div>
{{/if}}
{{#if isNextBeta}}
  <div class="beta-current-version">({{format-date-time @project.nextDate "MMM Do"}})</div>
{{/if}}
