<div class={{unless isCompleted "future-image"}}>
  <img src="/images/releases/tiny_beta.png" alt="beta {{@version}}" class="mt-3">
  <div class="text-sm bold mt-1">beta {{@version}}</div>
  {{#if isCurrentBeta}}
    <div class="text-sm">(current beta)</div>
  {{/if}}
  {{#if isNextBeta}}
    <div class="text-sm">({{format-date-time @project.nextDate "MMM Do"}})</div>
  {{/if}}
</div>