<div class="grid lg:grid-2">
  <div class='lg:col-3'>
    <h3 class='text-lg'>Components embrace HTML</h3>
    <p>
      Ember components are a superset of HTML - that means
      <span class="inline-code">&lt;p&gt;Hello World&lt;/p&gt;</span>
      is a fully-fledged Ember Component. Simply wrap your HTML with a <span class="inline-code">&lt;template&gt;</span> tag to make it a reusable component.
    </p>
  </div>
</div>
<CodePreview @code={{this.simpleComponent}}>
  Hello, World!
</CodePreview>

<div class="grid lg:grid-2 mt-4">
  <div class='lg:col-3'>
    <h3 class='text-lg'>Simple composability</h3>
    <p>
      Ember components accept arguments to make them dynamic. To pass data into components, use the <span class="inline-code">@</span> symbol along with an argument name.
    </p>
  </div>
</div>
<CodePreview @code={{this.composableComponent}}>
  Hello, Ember!
</CodePreview>

<div class="grid lg:grid-2 mt-4">
  <div class='lg:col-3'>
    <h3 class='text-lg'>Delightful reactivity</h3>
    <p>
      State can be added to Ember components progressively by wrapping the template in a JavaScript class. Properties with the
      <span class="inline-code">@tracked</span> decorator will automatically rerender the component when they change.
    </p>
  </div>
</div>
<CodePreview @code={{this.stateManagemnent}}>
  <Index::EmberCodeExamples::Counter />
</CodePreview>