<div class="homepage-image-grid">
  <div class="homepage-image-grid__scroll-wrapper">
    <Index::EmberCommunityPhotos::Photo
      @alt="Ember core team members gather around the Ember sign at EmberConf"
      @containerClass="homepage-image-grid__img-short"
      @src="/images/community/tinified/EmberConf19-13.jpg"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-short"
      @src="/images/community/tinified/EmberConf19-112.jpg"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-tall-bottom"
      @src="/images/community/zoey.png"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-short"
      @src="/images/community/tinified/EmberConf19-110.jpg"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-short"
      @src="/images/community/tinified/EmberConf19-243.jpg"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-tall-top"
      @src="/images/community/tinified/EmberConf19-223.jpg"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-short"
      @src="/images/community/tinified/EmberConf19-125.jpg"
    />

    <Index::EmberCommunityPhotos::Photo
      @containerClass="homepage-image-grid__img-short"
      @src="/images/community/tinified/EmberConf19-238.jpg"
    />
  </div>
</div>