<div class="ecosystem-icons">
  <Index::EmberEcosystem::Image
    @alt="Babel"
    @backgroundColor="#323330"
    @src="/images/home/logos/babel.svg"
  />

  <Index::EmberEcosystem::Image
    @alt="JavaScript"
    @backgroundColor="#FAE125"
    @rotateIcon={{true}}
    @src="/images/home/logos/js.svg"
  />

  <Index::EmberEcosystem::Image
    @alt="Prettier"
    @backgroundColor="#FFFFFF"
    @src="/images/home/logos/prettier.svg"
  />

  <Index::EmberEcosystem::Image
    @alt="Visual Studio Code"
    @backgroundColor="#272827"
    @rotateIcon={{true}}
    @src="/images/home/logos/code.svg"
  />

  <Index::EmberEcosystem::Image
    @alt="TypeScript"
    @backgroundColor="#0075C7"
    @rotateIcon={{true}}
    @src="/images/home/logos/ts.svg"
  />

  <Index::EmberEcosystem::Image
    @alt="npm"
    @backgroundColor="#C12127"
    @rotateIcon={{true}}
    @src="/images/home/logos/npm.svg"
  />
</div>