<HeadLayout />

{{page-title "Ember.js"}}

  <CalloutBanner>
    <LinkTo @route='community.invasion-of-ukraine'>
      Support Ukraine
    </LinkTo>
    <LinkTo @route='community.black-lives-matter'>
      Black Lives Matter
    </LinkTo>
  </CalloutBanner>

<EsHeader
  @home="/"
  @links={{this.links}}
/>

<main>
  {{outlet}}
</main>

<EsFooter
  @contributeLink="https://github.com/ember-learn/ember-website"
  @infoLinks={{this.infoLinks}}
/>
