<HeadLayout />
{{page-title "Ember.js"}}

<BlackLivesMatterBanner />

<EsHeader @links={{this.links}} @home="/" />

<main>
  {{outlet}}
</main>

<EsFooter @infoLinks={{this.infoLinks}} @contributeLink="https://github.com/ember-learn/ember-website" />