{{#es-header}}
  {{#es-navbar links=links home="/"}}
    {{!-- TODO: add search implementation --}}
  {{/es-navbar}}
{{/es-header}}

{{job-board-banner}}

{{ember-survey}}

<main class="container">
  {{outlet}}
</main>

{{es-footer}}
