{{page-title "Ember.js"}}

  <CalloutBanner>
    <LinkTo @route='community.invasion-of-ukraine'>
      Support Ukraine
    </LinkTo>
    <LinkTo @route='community.black-lives-matter'>
      Black Lives Matter
    </LinkTo>
  </CalloutBanner>

{{!-- TODO: Restore EsHeader once ember-styleguide is v2 --}}

<main>
  {{outlet}}
</main>

{{!-- TODO: Restore EsFooter once ember-styleguide is v2 --}}
