<HeadLayout />

{{page-title "Ember.js"}}

<BlackLivesMatterBanner />

<EsHeader
  @home="/"
  @links={{this.links}}
>
  <LanguageSwitcher />
</EsHeader>

<main>
  {{outlet}}
</main>

<EsFooter
  @contributeLink="https://github.com/ember-learn/ember-website"
  @infoLinks={{this.infoLinks}}
/>
