{{page-title "Browser Support"}}
<div class="container layout">
  <section aria-labelledby="section-browser-support-policy">
    <h1 id="section-browser-support-policy">Ember.js Browser Support Policy</h1>

    <p>
      For evergreen browsers, the minimum version of the browser that we support can be
      determined at the time of every minor release, following this formula:
    </p>

    <div class="layout my-3">
      <div class="card">
        <div class="card__content">
           <p>
            Whichever browser version is greater/more recent out of the following,
            given that the owning entity (e.g.: Apple, Google, Mozilla) still supports the version
          </p>

          <ol>
            <li>
              The lowest/least recent version that fulfills any one of these properties:
              <ul>
                <li>It is the latest version of the browser.</li>
                <li>It is the latest LTS/extended support version of the browser (such as Firefox ESR).</li>
                <li>It has at least <em>0.25%</em> of global marketshare usage across mobile and
              desktop, based on <a href="https://gs.statcounter.com/">statcounter</a>.</li>
              </ul>
            </li>
            <li>
              The minimum version supported in the previous release
            </li>
          </ol>
        </div>
      </div>
    </div>

    <p>Supported evergreen browsers are <strong>Google Chrome</strong> and <strong>Mozilla Firefox</strong> for desktop, mobile, and testing. Additionally, <strong>Microsoft Edge</strong> is supported for desktop.</p>

    <p>
      Currently we support one non-evergreen browser: <strong>Apple Safari</strong> on desktop and mobile.
      Support is locked at a specific major version, and
      we support all major versions above that version.
    </p>

    <p class="mb-3">
      Note: Within a major version of a browser, we only support the most recent patch release.
    </p>

    <EsNote @mascot='zoey'>
      As of
      the RFC <a href="https://rfcs.emberjs.com/id/0984-update-browser-support-policy">Treat Safari as an Evergreen Browser</a>,
      at version 6.0.0 of Ember, Safari will be considered evergreen so the minimum supported Safari version will change based on the above formula.
    </EsNote>

    <p class="mt-3">
      Other browsers may work with Ember.js, but are not explicitly supported. If you
      would like to add support for a new browser, please <a href="https://github.com/emberjs/rfcs">submit an RFC or RFC issue for discussion</a>!
    </p>

    <h2>Browser Support by Major Ember Version</h2>

    <h3>Ember 5.0.0</h3>

    <ul class="list-unstyled layout my-3">
      <EsCard class="lg:col-2">
        <div class="text-center text-md">Desktop</div>
        <ul>
          <li>Google Chrome >= 103</li>
          <li>Mozilla Firefox >= 102</li>
          <li>Microsoft Edge >= 110</li>
          <li>Safari >= 12</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">Mobile</div>
        <ul>
          <li>Google Chrome >= 112</li>
          <li>Mozilla Firefox >= 110</li>
          <li>Safari >= 12</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">Testing</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
        </ul>
      </EsCard>
    </ul>

    <h3>Ember 4.0.0</h3>

    <ul class="list-unstyled layout my-3">
      <EsCard class="lg:col-2">
        <div class="text-center text-md">Desktop</div>
        <ul>
          <li>Google Chrome >= 92</li>
          <li>Mozilla Firefox >= 91</li>
          <li>Microsoft Edge >= 93</li>
          <li>Safari >= 12</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">Mobile</div>
        <ul>
          <li>Chrome Android >= 96</li>
          <li>Firefox Android >= 94</li>
          <li>Safari >= 12</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">Testing</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
        </ul>
      </EsCard>
    </ul>

    <h3>Ember 3.0.0</h3>

    <p>
      The first Ember major version to be covered by the <a href="https://rfcs.emberjs.com/id/0685-new-browser-support-policy">New Browser Support Policy</a> was 4.0.0. The following browser support numbers are not official and are estimated based on the CI testing matrix for the 3.0 series.
    </p>

    <div class="layout my-3">
      <div class="card lg:col-2 lg:start-3">
        <div class="card__content">
          <ul>
            <li>Google Chrome >= 62</li>
            <li>Mozilla Firefox >= 57</li>
            <li>Microsoft Edge >= 14</li>
            <li>Internet Explorer 11</li>
            <li>Safari >= 8</li>
          </ul>
        </div>
      </div>
    </div>

  </section>
</div>
