<h1>Ember Editions</h1>
<p>
Periodically, we will declare a new edition of Ember that bundles up accumulated incremental improvements into a cohesive package.
</p>
<p>
Editions give us an opportunity to bring our documentation and marketing up-to-date to reflect the improvements
we’ve made since the previous edition. They are also the time to synchronize Ember and the wider ecosystem,
including updating default settings, blueprints, addons, and more.
Editions also help ensure that Ember users are getting a cohesive, polished experience. 
</p>
<p>So, when is the right time to declare a new edition?</p>
<ul>
  <li>A significant, coherent set of new features and APIs have all landed in the stable channel.</li>
  <li>Error messages and the developer ergonomics of those new features have been fully polished.</li>
  <li>Tooling (the Ember Inspector, blueprints, codemods, etc.) has been updated to work with these new features.</li>
  <li>API documentation, guides, tutorials, and example code has been updated to incorporate the new features.</li>
</ul>