{{page-title "Community Survey 2020"}}

<div class="bg-dark bg-shape-boxes">
  <div class="container">
    <h1>
      <img class="survey-logo" src="/images/survey/logo2020.svg" alt="Ember Community Survey 2020">
    </h1>
    <p class="survey-intro">
      A project to learn who is using Ember, and how.
    </p>
  </div>
</div>

<div>
  <div class="container">
    <a href="https://tilde.wufoo.com/forms/2020-emberjs-community-survey/" class="es-button">
      Take the survey now <img src="/images/survey/right-arrow.png" alt="Arrow to the right">
    </a>
  </div>
</div>

<div class="bg-light-muted">
  <div class="container">
    <h2 class="text-xl">
      More about the Survey
    </h2>

    <div class="layout">
      <div class="lg:col-2">
        <img class="survey-image" src="/images/survey/photo1.jpg" alt="Tomster and Friends">
        <h4>
          Totally Anonymous
        </h4>
        <p>
          No personal identification is attached to survey responses. Last year
          over 1300 participants shared information about themselves, their businesses,
          and applications.
        </p>
      </div>
      <div class="lg:col-2">
        <img class="survey-image" src="/images/survey/photo2.jpg" alt="Emberconf Crowd">
        <h4>
          Open until March 8th
        </h4>
        <p>
          Submissions close on March 8th. To ensure the survey
          captures a fair measure of our community, please share this page on your
          social networks and with your local communities!
        </p>
      </div>
      <div class="lg:col-2">
        <img class="survey-image" src="/images/survey/photo3.jpg" alt="Emberconf during talk">
        <h4>
          Results at EmberConf
        </h4>
        <p>
          At EmberConf, the results to the 2020 survey will be shared with a
          comparison to the <a href="/ember-community-survey-2019">2019 results</a>.
          Detailed aggregate and individual responses will also be made public.
        </p>
      </div>
    </div>
    <p class="mt-4 text-sm">Photos by <a href="http://www.octolabs.com/">Jeremy Green</a></p>
  </div>
</div>

<div class="container">
  <div class="layout">
    <h2 class="text-xl">
      Help spread the word!
    </h2>
    <p>
      Please share this survey on social media and at work.
    </p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Do you use @emberjs? It&#39;s time for the 2020 survey! " data-url="https://emberjs.com/ember-community-survey-2020" data-hashtags="EmberJS" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>
      Questions? Feedback? Please join us in the #dev-ember-learning channel on the Discord community chat, or
      email the survey team via <a href="mailto:survey@emberjs.com">survey@emberjs.com</a>.
    </p>
    <p>
      ...and see you at <a href="http://emberconf.com/">EmberConf 2020!</a>!
    </p>
  </div>
</div>