<title>{{this.model.title}}</title>
<meta property="st:title" content={{this.model.title}}>
<meta property="og:title" content={{this.model.title}}>
<meta name="twitter:title" content={{this.model.title}}>