<div class="es-page-header dark">
  <div class="container"> <!-- we shouldn't need this-->
    <h1 class="xlarge light">A framework for <br>ambitious web developers</h1>
    <p class="half text-intro">Ember.js is a productive, battle-tested JavaScript framework for building modern web applications. It includes everything you need to build rich UIs that work on any device.</p>
    <a href="https://guides.emberjs.com/current/getting-started/quick-start/" class="es-button">Quickstart</a>
    <a href="https://guides.emberjs.com/release/tutorial/ember-cli/" class="es-button-secondary link-as-button">Read the Tutorial</a>
  </div>
</div>

<section aria-labelledby="section-users" class="row justify-center">
  <h2 id="section-users" class="text-center">Build with the teams <br> that never stop shipping</h2>
  <p class="half text-center">Some of the best development teams in the world have been iterating on their products for years with Ember. With scalable UI architecture baked-in from the start, you'll be working with the same patterns that these organizations use every step of the way.</p>
  <p class="full text-center"><strong>It's time to start building from the 20th floor.</strong></p>
  <ul  class="one-third text-center es-list es-list-images padding-sides-wide margin-bottom-narrow margin-top-narrow">
    <li>
      <a href="">
        <img src="https://via.placeholder.com/125x45" alt="crowdstrike">
      </a>
    </li>
    <li>
      <a href="https://via.placeholder.com/125x45">
        <img src="https://via.placeholder.com/125x45" alt="intercom">
      </a>
    </li>
    <li>
      <a href="https://via.placeholder.com/125x45">
        <img src="https://via.placeholder.com/125x45" alt="microsoft">
      </a>
    </li>
    <li>
      <a href="https://via.placeholder.com/125x45">
        <img src="https://via.placeholder.com/125x45" alt="square">
      </a>
    </li>
    <li>
      <a href="https://via.placeholder.com/125x45">
        <img src="https://via.placeholder.com/125x45" alt="linkedin">
      </a>
    </li>
    <li>
      <a href="https://via.placeholder.com/125x45">
        <img src="https://via.placeholder.com/125x45" alt="apple">
      </a>
    </li>
    <li>
      <a href="https://via.placeholder.com/125x45">
        <img src="https://via.placeholder.com/125x45" alt="heroku">
      </a>
    </li>
  </ul>

  <div class="full">
    <h3>A simple component</h3>
    <p>description</p>
    <div>
      <p>codeblock placeholder</p>
    </div>
  </div>

  <div class="full">
    <h3>A simple component</h3>
    <p>description</p>
    <div>
      <p>codeblock placeholder</p>
    </div>
  </div>  
  
  <div class="full">
    <h3>A simple component</h3>
    <p>description</p>
    <div>
      <p>codeblock placeholder</p>
    </div>
  </div>
</section>

<section aria-labelledby="section-batteries" class="dark">
  <h2 id="section-batteries">Batteries are included</h2>
  <p>text</p>
  <img src="" alt="code sample">
  <img src="" alt="code sample rendered">
</section>

<section aria-labelledby="section-ecosystem">
  <h2 id="section-ecosystem">The Ember Ecosystem</h2>
  <div class="media">
    <p>library text</p>
    <img src="" alt="packages">
  </div>
  <div class="media">
    <img src="" alt="addons">
    <p>addon text</p>
  </div>
  <div class="media">
    <p>ember observer</p>
    <img src="" alt="ember observer placeholder">
  </div>

</section>

<section aria-labelledby="section-community">
  <h2 id="section-community" class="text-center">A Vibrant, Welcoming Community</h2>
  <p>Ember's first commit was in 2011....</p>
  <div class="row align-end">
    <div class="col">
      <img class="img-fluid margin-bottom-small" src="https://dummyimage.com/400x500/000/fff" alt="" role="presentation">
    </div>
    <div class="col">
      <img class="img-fluid margin-bottom-small" src="https://dummyimage.com/500x300/000/fff" alt="" role="presentation">
      <img class="img-fluid margin-bottom-small" src="https://dummyimage.com/600x400/000/fff" alt="" role="presentation">
    </div>
    <div class="col">
      <img class="img-fluid margin-bottom-small" src="https://dummyimage.com/400x500/000/fff" alt="" role="presentation">
    </div>
  </div>
  <a href="">Buy tickets for EmberConf</a>
  <a href="">Find an Ember Meetup</a>
  <h3 class="text-center">Other community resources</h3>
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-content">
          <h3>Podcasts</h3>
          <p>Rock n' Roll with EmberJS.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-content">
          <h3>Books</h3>
          <p>Rock n' Roll with EmberJS.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-content">
          <h3>Videos</h3>
          <p>Rock n' Roll with EmberJS.</p>
        </div>
      </div>
    </div>
  </div>

  {{!-- if we used flexbox more diligently, we could remove all these div wrappers --}}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <h3>Guides</h3>
          <p>If you're familiar with JavaScript and web application development, our Guides will teach you everything
            you need to know to get started building with Ember.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <h3>Read Our Blog</h3>
          <p>Find out about the newest releases and latest work happening in the ecosystem by visiting the official
            Ember Blog.</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section aria-labelledby="section-shipping" class="dark">
  <h2 id="section-shipping">Ready to start shipping?</h2>
  <a href="">Quickstart</a>
  <a href="">Read the Tutorial</a>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <h3>Guides</h3>
          <p>If you're familiar with JavaScript and web application development, our Guides will teach you everything
            you need to know to get started building with Ember.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <h3>Read Our Blog</h3>
          <p>Find out about the newest releases and latest work happening in the ecosystem by visiting the official
            Ember Blog.</p>
        </div>
      </div>
    </div>
  </div>
</section>