<EsPageHeader
  @headline="A framework for ambitious web developers"
  @detail="Ember.js is a productive, battle-tested JavaScript framework for building modern web applications. It includes everything you need to build rich UIs that work on any device."
  class="dark"
>
  <a href="https://guides.emberjs.com/release/getting-started/quick-start/" class="es-button">Quickstart</a>
  <a href="https://guides.emberjs.com/release/tutorial/ember-cli/" class="margin-left-small">Read the Tutorial</a>
</EsPageHeader>

<section aria-labelledby="section-ecosystem" class="bg-muted">
  <div class="container layout-grid">
    <div class="col-4-large offset-1-large text-center">
      <h2>Build with the teams that never stop shipping.</h2>
      <p>
        Some of the best development teams in the world have been iterating on the their products for years with Ember. With scalable UI architecture baked-in from the start, you'll be working with the same patterns these organizations use every step of the way.
      </p>
      <p>
        It's time to start building from the 20th floor.
      </p>
    </div>
    <div class="text-center">
      {{svg-jar "landing-logos" class="max-width"}}
    </div>
  </div>
</section>

<section aria-labelledby="section-batteries-included" class="bg-muted">
  <div class="container layout-grid">
    <div class="col-4-large offset-1-large text-center">
      <h2>Batteries are included</h2>
      <p class="margin-top-medium">
        Ember’s out-of-the-box experience has everything you need to start building on day one, and keep shipping for years. Never wire together your own framework again.
      </p>
    </div>
    <div class="layout-grid">
      <div class="col-2-large">
        <h3>Build pipeline</h3>
        <p class="margin-top-small">Ember CLI is the backbone of modern Ember apps. Code generators let you quickly create new components and tests. Use the local server for a development environment with Babel, fast rebuilds, auto-reloading and a test runner. Build your app for production with a single command.</p>
      </div>
      <div class="col-4-large">
        {{svg-jar "terminal-browser" class="max-width"}}
      </div>
    </div>
    <div class="layout-grid margin-top-medium">
      <div class="col-4-large">
        <img class="img-fluid" src="https://dummyimage.com/600x400/f47bf6/fff" alt="">
      </div>
      <div class="col-2-large">
        <h3>Routing</h3>
        <p class="margin-top-small">Ember always cared about the URL, one of the major strengths of the web. Ember's built-in router is a best-in-class solution that incorporates async data loading with dynamic url segments and query parameters. The Ember router seamlessly supports nested urls with incremental data fetching and nested loading and error substates</p>
      </div>
    </div>
    <div class="layout-grid margin-top-medium">
      <div class="col-2-large">
        <h3>Data layer</h3>
        <p class="margin-top-small">
          Ever new Ember app includes a fully-featured data access library called Ember Data. Ember Data allows you to access data across multiple sources at once, setup asynchronous relationships that auto-populate on access and has an identity map so that models are kept up to date across your app. Ember also supports using plain fetch() calls for data access or even GraphQL.
        </p>
      </div>
      <div class="col-4-large">
        <img class="img-fluid" src="https://dummyimage.com/600x400/f47bf6/fff" alt="">
      </div>
    </div>
    <div class="layout-grid margin-top-medium">
      <div class="col-3-large">
        <img src="https://dummyimage.com/450x400/f47bf6/fff" alt="">
      </div>
      <div class="col-2-large">
        <h3>Testing</h3>
        <p class="margin-top-small">
          Ember has a fully-featured, modern test harness built into every application by default. Every time you generate a component, route or any entity in an ember app we also generate an example test for that same entity. Ember supports three levels of testing: unit tests for small individual items, integration tests that are very handy for testing individual components and acceptance tests that can boot your whole app and interact with it to verify everything is working.
        </p>
      </div>
      <div class="col-1-large">
        <img src="https://dummyimage.com/150x400/f47bf6/fff" alt="">
      </div>
    </div>
    <div class="layout-grid margin-top-medium">
      <div class="col-2-large">
        <h3>Performance</h3>
        <p class="margin-top-small">
          Ember is built on the Glimmer rendering engine, which compiles templates down to a highly performant DOM Virtual Machine. The Glimmer complier builds specific "programs" that are designed to create or update your node directly in the DOM without the need for a Virtual DOM, making it one of the fastest rendering technologies on the market today.
        </p>
      </div>
      <div class="col-4-large">
        <img class="img-fluid" src="https://dummyimage.com/600x400/f47bf6/fff" alt="">
      </div>
    </div>
    <div class="layout-grid margin-top-medium">
      <div class="col-4-large">
        <img src="https://dummyimage.com/600x400/f47bf6/fff" alt="">
      </div>
      <div class="col-2-large">
        <h3>Easy upgrades</h3>
        <p class="margin-top-small">
          Ember works on a 6-week release cycle with a new minor version with added features and improvements every 6 weeks. Ember has a strong commitment to Semantic Versioning, meaning that upgrades between minor versions are straightforward and fast. We also have a well-thought-out deprecation mechanism that gives you ample warning of code that would need to change in the next major version. Deprecated or upgraded features often come with codemods that can be run automatically to update your codebase.
        </p>
      </div>
    </div>
  </div>
</section>

<section aria-labelledby="section-ecosystem" class="bg-muted">
  <div class="container layout-grid">
    <div class="col-3-large">
      <h2>The Ember Ecosystem</h2>
      <p>There's never been a better time to be a JavaScript developer, and Ember embraces everything that modern JS has to offer. When you're ready for more, choose from hundreds of high-quality, curated community Ember Addons to super-power your application.</p>
      <h3>Use the modern JavaScript you know and love</h3>
      <p>ES6 classes, fat arrow functions, even decorators- it's easy to use the latest and greatest JavaScript features in your app, zero configuration required. Love Typescript? We've got great support for that too! And tools like Prettier pair perfectly with your Ember app's JavaScript code.</p>
    </div>

    <div class="col-3-large text-center">
      <img src="/images/ecosystem.svg" alt="ember ecosystem">
    </div>

    <div class="col-3-large text-center">
      <img src="/images/addons.svg" alt="ember addons">
    </div>

    <div class="col-3-large">
      <h3>Meet Addons: high-quality, curated npm packages that supercharge your app</h3>
      <p>While Ember CLI makes it easy to add any third-party node module, Ember Addons provide capabilities that go way beyond your typical npm package.</p>
      <p>By hooking into Ember CLI's standardized tooling, Addons can modify your app's build steps, h elp you out with deployment, inline images and more.</p>
      <p>With all this power wrapped up into a single install command, and no additional build tool or configuration required, you'll wonder how you could ever go back to wiring up dependencies on your own again.</p>
    </div>

    <div class="col-3-large">
      <h3>Ember Observer: your dependency co-pilot</h3>
      <p>Tired of wondering if your project's next dependency is well-maintained? Have you ever had to make a choice between multiple packages with no clear guidance about which one's better?</p>
      <p>With Ember Observer, you'll never have to asses the quality of your project's dependencies on your own. Up-to-date rankings make it easy to see an addon's position within the community. Metrics like great documentation, recent releases and automated tests across multiple Ember versions mean you can be confident that your next dependency won't become a liability.</p>
    </div>

    <div class="col-3-large text-center">
      <img src="/images/ember-observer.svg" alt="ember observer">
    </div>
  </div>
</section>
<section aria-labelledby="section-ecosystem" class="dark">
  <div class="container">
    <div class="layout-grid">
      <div class="col-3-large">
        <h2>Ready to start shipping?</h2>
        <p class="margin-top-small">If you're ready to dive in, the Quickstart is the fastest way to get going with Ember.js. Are you new to web development or a recent bootcamp grad? The Intro tutorial is a great place to start.</p>
        <div class="margin-top-medium">
          <a href="https://guides.emberjs.com/release/getting-started/quick-start/" class="es-button">Quickstart</a>
          <a href="https://github.com/emberjs" class="margin-left-small">View on Github</a>
        </div>
      </div>
    </div>
    <div class="layout-grid margin-top-medium">
      <div class="col-3-large card">
        <div class="card-content">
          <div>
            {{svg-jar "guides"}}
          </div>
          <a href="https://guides.emberjs.com" class="medium">Read the Guides</a>
          <p class="margin-top-xsmall">If you're familiar with JavaScript and web application development, our Guides will teach you everything you need to know to get started building with Ember.</p>
        </div>
      </div>
      <div class="col-3-large card">
        <div class="card-content">
          <div>
            {{svg-jar "blog"}}
          </div>
          <a href="https://blog.emberjs.com" class="medium">Read Our Blog</a>
          <p class="margin-top-xsmall">Find out about the newest releases and latest work happening in the ecosystem by visiting the official Ember Blog.</p>
        </div>
      </div>
    </div>
  </div>
</section>
