<img
  class="construction-tomster"
  src="/images/tomsters/construction.png"
  alt="Construction Tomster"
>

<h1>Status Board</h1>

<p>
  Ember is an open source SDK for building ambitious web application. This status board tracks our on-going initiatives to
  improve Ember and take advantage of cutting-edge browser features.
</p>

<p>
  And don‘t miss the additional functionality available via Ember‘s vibrant addon community at <a href="http://emberobserver.com/">Ember Observer</a>.
</p>

<div class="Features">
  {{#each model as |feature|}}
    {{feature-item feature=feature}}
  {{/each}}
</div>
