<section aria-labelledby="team-detail">
  <h1 class="text-center">The Team Behind Ember</h1>
  <p class="lead text-center">
    Ember is an Open Source project that relies on the tireless support of individual contributors. These are the teams
    that guide the development and instruction of Ember.js.
  </p>
</section>

<section aria-labelledby="team">
  <h2 class="text-center">The Steering Committee</h2>

  <p class="text-center">
    The Steering Committee is responsible for the overall governance of the Ember project.
  </p>

  <ul class="list-team">
    <li class="list-team-item">
      <img src="/images/team/ykatz.jpg" alt="Yehuda Katz" class="team-member-image">
      <div class="team-member-name">
        Yehuda Katz
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/wycats" aria-label="Yehuda Katz Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/wycats" aria-label="Yehuda Katz Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/tdale.jpg" alt="Tom Dale" class="team-member-image">
      <div class="team-member-name">
        Tom Dale
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/tomdale" aria-label="Tom Dale Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/tomdale" aria-label="Tom Dale Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/lsilber.jpg" alt="Leah Silber" class="team-member-image">
      <div class="team-member-name">
        Leah Silber
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/wifelette" aria-label="Leah Silber Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/wifelette" aria-label="Leah Silber Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/efaulkner.jpg" alt="Edward Faulkner" class="team-member-image">
      <div class="team-member-name">
        Edward Faulkner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/eaf4" aria-label="Edward Faulkner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/ef4" aria-label="Edward Faulkner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/kgengler.jpg" alt="Katie Gengler" class="team-member-image">
      <div class="team-member-name">
        Katie Gengler
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/katiegengler" aria-label="Katie Gengler Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/kategengler" aria-label="Katie Gengler Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/msumner.jpg" alt="Melanie Sumner" class="team-member-image">
      <div class="team-member-name">
        Melanie Sumner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/melaniersumner" aria-label="Melanie Sumner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/melsumner" aria-label="Melanie Sumner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<hr>

<section aria-labelledby="team-core">
  <h2 class="text-center">The Ember.js Core Team</h2>

  <ul class="list-team">
    <li class="list-team-item">
      <img src="/images/team/mbeale.jpg" alt="Matthew Beale" class="team-member-image">
      <div class="team-member-name">
        Matthew Beale
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/mixonic" aria-label="Matthew Beale Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/mixonic" aria-label="Matthew Beale Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/godfrey.jpg" alt="Godfrey Chan" class="team-member-image">
      <div class="team-member-name">
        Godfrey Chan
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/chancancode" aria-label="Godfrey Chan Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/chancancode" aria-label="Godfrey Chan Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/tdale.jpg" alt="Tom Dale" class="team-member-image">
      <div class="team-member-name">
        Tom Dale
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/tomdale" aria-label="Tom Dale Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/tomdale" aria-label="Tom Dale Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/efaulkner.jpg" alt="Edward Faulkner" class="team-member-image">
      <div class="team-member-name">
        Edward Faulkner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/eaf4" aria-label="Edward Faulkner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/ef4" aria-label="Edward Faulkner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/dgeb.jpg" alt="Dan Gebhardt" class="team-member-image">
      <div class="team-member-name">
        Dan Gebhardt
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/dgeb" aria-label="Dan Gebhardt Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/dgeb" aria-label="Dan Gebhardt Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/kgengler.jpg" alt="Katie Gengler" class="team-member-image">
      <div class="team-member-name">
        Katie Gengler
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/katiegengler" aria-label="Katie Gengler Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/kategengler" aria-label="Katie Gengler Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/chietala.jpg" alt="Chad Hietala" class="team-member-image">
      <div class="team-member-name">
        Chad Hietala
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/chadhietala" aria-label="Chad Hietala Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/chadhietala" aria-label="Chad Hietala Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/rjackson.jpg" alt="Robert Jackson" class="team-member-image">
      <div class="team-member-name">
        Robert Jackson
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/rwjblue" aria-label="Robert Jackson Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/rwjblue" aria-label="Robert Jackson Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/ykatz.jpg" alt="Yehuda Katz" class="team-member-image">
      <div class="team-member-name">
        Yehuda Katz
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/wycats" aria-label="Yehuda Katz Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/wycats" aria-label="Yehuda Katz Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/rmendes.jpg" alt="Ricardo Mendes" class="team-member-image">
      <div class="team-member-name">
        Ricardo Mendes
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/locks" aria-label="Ricardo Mendes Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/locks" aria-label="Ricardo Mendes Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/spenner.jpg" alt="Stefan Penner" class="team-member-image">
      <div class="team-member-name">
        Stefan Penner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/stefanpenner" aria-label="Stefan Penner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/stefanpenner" aria-label="Stefan Penner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/kselden.jpg" alt="Kris Selden" class="team-member-image">
      <div class="team-member-name">
        Kris Selden
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/krisselden" aria-label="Kris Selden Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/krisselden" aria-label="Kris Selden Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/lsilber.jpg" alt="Leah Silber" class="team-member-image">
      <div class="team-member-name">
        Leah Silber
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/wifelette" aria-label="Leah Silber Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/wifelette" aria-label="Leah Silber Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/msumner.jpg" alt="Melanie Sumner" class="team-member-image">
      <div class="team-member-name">
        Melanie Sumner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/melaniersumner" aria-label="Melanie Sumner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/melsumner" aria-label="Melanie Sumner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/iterzic.jpeg" alt="Igor Terzic" class="team-member-image">
      <div class="team-member-name">
        Igor Terzic
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/terzicigor" aria-label="Igor Terzic Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/igorT" aria-label="Igor Terzic Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<hr>

<section aria-labelledby="team-cli-core">
  <h2 class="text-center">The Ember CLI Core Team</h2>

  <p class="text-center">
    The Ember CLI core team is responsible for maintaining ember-cli, the command line interface for managing and packaging
    Ember.js applications and addons. The team also maintains many of the addons in the default blueprint as well as
    fastboot.
  </p>

  <ul class="list-team">
    <li class="list-team-item">
      <img src="/images/team/kratiahuja.jpg" alt="Krati Ahuja" class="team-member-image">
      <div class="team-member-name">
        Krati Ahuja
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/kratiahuja" aria-label="Krati Ahuja Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/kratiahuja" aria-label="Krati Ahuja Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/tbieniek.jpg" alt="Tobias Bieniek" class="team-member-image">
      <div class="team-member-name">
        Tobias Bieniek
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/TobiasBieniek" aria-label="Tobias Bieniek Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/Turbo87" aria-label="Tobias Bieniek Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/kgengler.jpg" alt="Katie Gengler" class="team-member-image">
      <div class="team-member-name">
        Katie Gengler
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/katiegengler" aria-label="Katie Gengler Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/kategengler" aria-label="Katie Gengler Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/rjackson.jpg" alt="Robert Jackson" class="team-member-image">
      <div class="team-member-name">
        Robert Jackson
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/rwjblue" aria-label="Robert Jackson Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/rwjblue" aria-label="Robert Jackson Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/anavasardyan.jpg" alt="Alex Navasardyan" class="team-member-image">
      <div class="team-member-name">
        Alex Navasardyan
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/twokul" aria-label="Alex Navasardyan Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/twokul" aria-label="Alex Navasardyan Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/spenner.jpg" alt="Stefan Penner" class="team-member-image">
      <div class="team-member-name">
        Stefan Penner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/stefanpenner" aria-label="Stefan Penner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/stefanpenner" aria-label="Stefan Penner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/kellyselden.jpg" alt="Kelly Selden" class="team-member-image">
      <div class="team-member-name">
        Kelly Selden
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/kellyselden" aria-label="Kelly Selden Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/kellyselden" aria-label="Kelly Selden Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<hr>

<section aria-labelledby="team-data-core">
  <h2 class="text-center">The Ember Data Core Team</h2>

  <p class="text-center">
    The Ember Data core team is responsible for the official data persistence library for Ember.js applications.
  </p>

  <ul class="list-team">
    <li class="list-team-item">
      <img src="images/team/bmcloughlin.png" alt="Brendan McLoughlin" class="team-member-image">
      <div class="team-member-name">
        Brendan McLoughlin
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/BezoMaxo" aria-label="Brendan McLoughlin Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/bmac" aria-label="Brendan McLoughlin Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/cmueller.jpg" alt="Clemens Müller" class="team-member-image">
      <div class="team-member-name">
        Clemens Müller
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/pangratz" aria-label="Clemens Müller Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/pangratz" aria-label="Clemens Müller Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/cpersson.jpg" alt="Christoffer Persson" class="team-member-image">
      <div class="team-member-name">
        Christoffer Persson
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/ChristofferP" aria-label="Christoffer Persson Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/wecc" aria-label="Christoffer Persson Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/fivetanley.jpg" alt="Stanley Stuart" class="team-member-image">
      <div class="team-member-name">
        Stanley Stuart
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/fivetanley" aria-label="Stanley Stuart Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/fivetanley" aria-label="Stanley Stuart Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/iterzic.jpeg" alt="Igor Terzic" class="team-member-image">
      <div class="team-member-name">
        Igor Terzic
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/terzicigor" aria-label="Igor Terzic Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="team-member-github" href="https://github.com/igorT" aria-label="Igor Terzic Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<hr>

<section aria-labelledby="team-learning-core">
  <h2 class="text-center">The Ember Learning Core Team</h2>

  <p class="text-center">
    The mission of the Ember Learning core team is to empower Ember users to learn, build and teach. This team is responsible
    for keeping the guides and API documentation updated, and manages the initiatives that support learning Ember.
  </p>

  <ul class="list-team">
    <li class="list-team-item">
      <img src="/images/team/dbaker.jpg" alt="David Baker" class="team-member-image">
      <div class="team-member-name">
        David Baker
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/acorncom" aria-label="David Baker Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/acorncom" aria-label="David Baker Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/tjordan.jpg" alt="Todd Jordan" class="team-member-image">
      <div class="team-member-name">
        Todd Jordan
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/tddjordan" aria-label="Todd Jordan Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/toddjordan" aria-label="Todd Jordan Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/jjordan.jpg" alt="Jessica Jordan" class="team-member-image">
      <div class="team-member-name">
        Jessica Jordan
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/jjordan_dev" aria-label="Jessica Jordan Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/jessica-jordan" aria-label="Jessica Jordan Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/skailasam.jpg" alt="Sivakumar Kailasam" class="team-member-image">
      <div class="team-member-name">
        Sivakumar Kailasam
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/sivakumar_k" aria-label="Sivakumar Kailasam Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/sivakumar-kailasam" aria-label="Sivakumar Kailasam Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/alam.jpg" alt="Amy Lam" class="team-member-image">
      <div class="team-member-name">
        Amy Lam
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/amyrlam" aria-label="Amy Lam Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/amyrlam" aria-label="Amy Lam Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/tlee.png" alt="Terence Lee" class="team-member-image">
      <div class="team-member-name">
        Terence Lee
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/hone02" aria-label="Terence Lee Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/hone" aria-label="Terence Lee Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/cmason.jpg" alt="Chris Mason" class="team-member-image">
      <div class="team-member-name">
        Chris Mason
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/real_ate" aria-label="Chris Mason Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/mansona" aria-label="Chris Mason Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/rmendes.jpg" alt="Ricardo Mendes" class="team-member-image">
      <div class="team-member-name">
        Ricardo Mendes
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/locks" aria-label="Ricardo Mendes Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/locks" aria-label="Ricardo Mendes Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/lsilber.jpg" alt="Leah Silber" class="team-member-image">
      <div class="team-member-name">
        Leah Silber
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/wifelette" aria-label="Leah Silber Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/wifelette" aria-label="Leah Silber Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/msumner.jpg" alt="Melanie Sumner" class="team-member-image">
      <div class="team-member-name">
        Melanie Sumner
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/melaniersumner" aria-label="Melanie Sumner Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/melsumner" aria-label="Melanie Sumner Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-team-item">
      <img src="/images/team/jweber.jpg" alt="Jen Weber" class="team-member-image">
      <div class="team-member-name">
        Jen Weber
      </div>
      <ul class="team-member-social">
        <li>
          <a class="team-member-twitter" href="https://twitter.com/jwwweber" aria-label="Jen Weber Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="team-member-github" href="https://github.com/jenweber" aria-label="Jen Weber Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<hr>

<section aria-labelledby="alumni">
  <h2 class="text-center">Project Alumni</h2>

  <p class="text-center">
    Serving as a member of the Core Team(s) of an open source project like Ember is a huge amount of work. These are
    retired members of the Ember Core Teams, to whom we will always be grateful.
  </p>

  <ul class="list-team">
    <li class="list-team-item">
      <img src="/images/team/jbixby.jpg" alt="Jacob Bixby" class="team-member-image">
      <div class="team-member-name">
        Jacob Bixby
      </div>
    </li>
    <li class="list-team-item">
      <img src="/images/team/ebryn.jpg" alt="Erik Bryn" class="team-member-image">
      <div class="team-member-name">
        Erik Bryn
      </div>
    </li>
    <li class="list-team-item">
      <img src="/images/team/tglowaki.jpg" alt="Trek Glowacki" class="team-member-image">
      <div class="team-member-name">
        Trek Glowacki
      </div>
    </li>
    <li class="list-team-item">
      <img src="/images/team/nhammond.jpg" alt="Nathan Hammond" class="team-member-image">
      <div class="team-member-name">
        Nathan Hammond
      </div>
    </li>
    <li class="list-team-item">
      <img src="/images/team/amatchneer.jpg" alt="Alex Matchneer" class="team-member-image">
      <div class="team-member-name">
        Alex Matchneer
      </div>
    </li>
    <li class="list-team-item">
      <img src="/images/team/mmunoz.jpg" alt="Martin Muñoz" class="team-member-image">
      <div class="team-member-name">
        Martin Muñoz
      </div>
    </li>
    <li class="list-team-item">
      <img src="/images/team/pwagenet.jpg" alt="Peter Wagenet" class="team-member-image">
      <div class="team-member-name">
        Peter Wagenet
      </div>
    </li>
  </ul>
</section>
