{{page-title "TypeScript Support"}}

<section class="container" aria-labelledby="typescript-support">
  <div class="layout">
    <div class="lg:col-4 lg:start-2 text-muted mb-5">
      <h1 id="typescript-support">
        TypeScript Support
      </h1>

      <p>
        Ember has committed to supporting SemVer, even though TypeScript itself does not. This is possible when following the strategies laid out in <a href="https://www.semver-ts.org/#for-package-authors">semver-ts.org</a>'s <em>rolling window</em> policy. This is similar to our <a href="https://emberjs.com/browser-support/">browser support</a> policy.
      </p>
      <p>
        <em>
          Packages using the “rolling window” policy should normally support all TypeScript versions released during the current ‘LTS’ of other core packages/runtimes/etc. they support, and drop support for them only when they drop support for that ‘LTS’, to minimize the number of major versions in the ecosystem.
        </em>
      </p>


      <h2>Supported Version Matrix</h2>

      <table>
        <thead>
          <tr>
            <th>TypeScript Version</th>
            <th>Supported <code>ember-source</code> Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>5.8.x</td><td>6.8.0 - Current</td></tr>
          <tr><td>5.7.x</td><td>6.4.0 - Current</td></tr>
          <tr><td>5.6.x</td><td>6.4.0 - Current</td></tr>
          <tr><td>5.5.x</td><td>6.4.0 - Current</td></tr>
          <tr><td>5.4.x</td><td>6.4.0 - Current</td></tr>
          <tr><td>5.3.x</td><td>5.7.0 - Current</td></tr>
          <tr><td>5.2.x</td><td>5.7.0 - Current</td></tr>
          <tr><td>5.1.x</td><td>5.2.0 - 6.7.x</td></tr>
          <tr><td>5.0.x</td><td>5.2.0 - 6.7.x</td></tr>
          <tr><td>4.9.x</td><td>5.2.0 - 6.3.x</td></tr>
        </tbody>
      </table>
    </div>

    <p>
      Note that what versions are supported does not necisarily mean that versions outside of what we support won't work. The versions in the table above are what we test against in CI.
    </p>
  </div>
</section>